.rectangle412 {
  position: absolute;
  height: 65.62%;
  width: 100%;
  top: 34.38%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--new-fill-d9d9d9);
}
.fax-00-0000-00004,
.o2b2o2b2cokr4 {
  position: absolute;
  height: 37.51%;
  top: 46.86%;
  font-size: var(--font-size-4xl);
  white-space: pre-wrap;
  text-align: center;
  justify-content: center;
}
.fax-00-0000-00004 {
  width: 19.72%;
  left: 78.35%;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.o2b2o2b2cokr4 {
  width: 21.48%;
  left: 54.22%;
}
.div845,
.div846,
.div847,
.o2b2o2b2cokr4 {
  line-height: 24px;
  display: flex;
  align-items: center;
}
.div845 {
  position: absolute;
  height: 37.51%;
  width: 48.94%;
  top: 46.86%;
  left: 1.76%;
  font-size: var(--font-size-2xl);
  text-align: center;
  justify-content: center;
}
.div846,
.div847 {
  height: 23.43%;
  top: 0;
  font-size: var(--inter-regular-size);
}
.div846 {
  position: absolute;
  width: 4.05%;
  left: 80.98%;
  letter-spacing: -1px;
}
.div847 {
  width: 4.75%;
  left: 73.06%;
}
.api4,
.div847,
.div848 {
  position: absolute;
}
.api4 {
  height: 23.43%;
  width: 6.86%;
  top: 0;
  left: 62.85%;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.div848 {
  width: 10.21%;
  left: 49.3%;
}
.div848,
.div849,
.div850,
.div851 {
  height: 23.43%;
  top: 0;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.div849 {
  position: absolute;
  width: 9.33%;
  left: 37.15%;
  font-weight: 100;
}
.div850,
.div851 {
  width: 4.75%;
}
.div850 {
  position: absolute;
  left: 29.57%;
}
.div851 {
  left: 22.18%;
}
.div844,
.div851,
.div852 {
  position: absolute;
}
.div852 {
  height: 23.43%;
  width: 4.93%;
  top: 0;
  left: 14.61%;
  font-size: var(--inter-regular-size);
  line-height: 24px;
  display: flex;
  align-items: center;
}
.div844 {
  top: 2807px;
  left: 0;
  width: 1362px;
  height: 169px;
  color: var(--wwwsaramincokr-comet);
}
.div853,
.frame-icon36 {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
}
.div853 {
  left: 32px;
  letter-spacing: -1px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 122px;
}
.frame346 {
  position: absolute;
  height: calc(100% - 32px);
  top: 14px;
  bottom: 18px;
  left: 14px;
  width: 147px;
}
.frame-icon37 {
  position: absolute;
  bottom: 16px;
  left: 358px;
  width: 279px;
  height: 40px;
}
.frame344,
.frame345 {
  position: absolute;
  top: 0;
}
.frame345 {
  height: 100%;
  bottom: 0;
  left: 190px;
  width: 637px;
}
.frame344 {
  height: calc(100% - 1px);
  bottom: 1px;
  left: 165px;
  width: 827px;
}
.div854 {
  position: absolute;
  top: 1px;
  left: 13px;
  letter-spacing: -1px;
  line-height: 38px;
  display: flex;
  align-items: center;
  width: 118px;
  height: 38px;
}
.frame343,
.frame347 {
  position: absolute;
  box-sizing: border-box;
}
.frame347 {
  width: calc(100% - 827px);
  top: 0;
  right: 827px;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--wwwsaramincokr-geyser);
  height: 40px;
  font-size: var(--inter-regular-size);
  color: var(--wwwsaramincokr-comet);
}
.frame343 {
  width: calc(100% - 370px);
  top: 439px;
  right: 214px;
  left: 156px;
  border-bottom: 1px solid #0842a9;
  height: 57px;
  font-size: var(--inder-regular1-size);
  color: var(--wwwsaramincokr-oxford-blue);
}
.vector-icon104 {
  width: 992px;
  position: relative;
  height: 190px;
  z-index: 0;
}
.div856,
.div857 {
  width: 96px;
  position: absolute;
  margin: 0 !important;
  top: 43.68%;
  left: 4.94%;
  letter-spacing: -0.5px;
  line-height: 24px;
  display: inline-block;
  z-index: 1;
}
.div857 {
  width: 65px;
  top: 20%;
  font-size: var(--font-size-lg);
  z-index: 2;
}
.vector-parent {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.div855 {
  width: 992px;
  position: relative;
  height: 190px;
}
.div859,
.frame349 {
  position: absolute;
  height: 32px;
}
.div859 {
  top: 0;
  left: 8px;
  letter-spacing: -1px;
  line-height: 32px;
  display: flex;
  align-items: center;
  width: 42px;
}
.frame349 {
  top: 149px;
  left: 32px;
  border-radius: var(--br-9xs);
  background-color: var(--color-silver-200);
  width: 46px;
}
.div860 {
  left: 311px;
  font-size: var(--font-size-2xs-8);
  width: 100px;
}
.div860,
.div861,
.div862,
.div863 {
  position: absolute;
  top: 101px;
  letter-spacing: -1px;
  line-height: 24px;
  display: flex;
  align-items: center;
  height: 24px;
}
.div861 {
  left: 245px;
  font-size: var(--font-size-4xs-1);
  width: 50px;
}
.div862,
.div863 {
  left: 174px;
  width: 55px;
}
.div863 {
  left: 32px;
  font-size: var(--wwwsaramincokr-inter-regular-886-size);
  width: 127px;
}
.b160,
.frame350 {
  position: absolute;
  height: 40px;
}
.b160 {
  top: 0;
  left: 0;
  letter-spacing: -1px;
  line-height: 40px;
  display: flex;
  align-items: center;
  width: 130px;
}
.frame350 {
  width: calc(100% - 64px);
  top: 57px;
  right: 32px;
  left: 32px;
  overflow: hidden;
  font-size: var(--font-size-2xl);
  color: var(--wwwsaramincokr-oxford-blue);
}
.div864,
.frame351 {
  position: absolute;
  height: 24px;
}
.div864 {
  top: 0;
  left: 0;
  letter-spacing: -1px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 66px;
}
.frame351 {
  top: 33px;
  left: 32px;
  width: 828px;
  overflow: hidden;
  font-size: var(--font-size-smi-3);
  color: var(--color-lightslategray-100);
}
.d-x76 {
  position: absolute;
  top: 29px;
  left: 945px;
  font-size: var(--font-size-mini-1);
  letter-spacing: -1px;
  line-height: 20px;
  display: flex;
  color: var(--wwwsaramincokr-black);
  align-items: center;
  width: 31px;
  height: 20px;
}
.div858,
.div865,
.div872,
.div879 {
  position: absolute;
  width: calc(100% - 38px);
  top: 4390px;
  right: -11px;
  left: 49px;
  border: 1px solid var(--wwwsaramincokr-black);
  box-sizing: border-box;
  height: 213px;
}
.div865,
.div872,
.div879 {
  top: 4160px;
  right: -8px;
  left: 46px;
}
.div872,
.div879 {
  top: 3930px;
  right: -5px;
  left: 43px;
}
.div879 {
  top: 3700px;
  right: -2px;
  left: 40px;
}
.div886,
.div893,
.div900,
.div907,
.div914,
.div921,
.div928,
.div935,
.div942,
.div949,
.div956,
.div963,
.div970,
.div977,
.div984,
.div991 {
  position: absolute;
  width: calc(100% - 38px);
  top: 3470px;
  right: 1px;
  left: 37px;
  border: 1px solid var(--wwwsaramincokr-black);
  box-sizing: border-box;
  height: 213px;
}
.div893,
.div900,
.div907,
.div914,
.div921,
.div928,
.div935,
.div942,
.div949,
.div956,
.div963,
.div970,
.div977,
.div984,
.div991 {
  top: 3240px;
  right: 4px;
  left: 34px;
}
.div900,
.div907,
.div914,
.div921,
.div928,
.div935,
.div942,
.div949,
.div956,
.div963,
.div970,
.div977,
.div984,
.div991 {
  top: 3010px;
  right: 7px;
  left: 31px;
}
.div907,
.div914,
.div921,
.div928,
.div935,
.div942,
.div949,
.div956,
.div963,
.div970,
.div977,
.div984,
.div991 {
  top: 2780px;
  right: 10px;
  left: 28px;
}
.div914,
.div921,
.div928,
.div935,
.div942,
.div949,
.div956,
.div963,
.div970,
.div977,
.div984,
.div991 {
  top: 2550px;
  right: 13px;
  left: 25px;
}
.div921,
.div928,
.div935,
.div942,
.div949,
.div956,
.div963,
.div970,
.div977,
.div984,
.div991 {
  top: 2320px;
  right: 16px;
  left: 22px;
}
.div928,
.div935,
.div942,
.div949,
.div956,
.div963,
.div970,
.div977,
.div984,
.div991 {
  top: 2090px;
  right: 19px;
  left: 19px;
}
.div935,
.div942,
.div949,
.div956,
.div963,
.div970,
.div977,
.div984,
.div991 {
  top: 1860px;
  right: 22px;
  left: 16px;
}
.div942,
.div949,
.div956,
.div963,
.div970,
.div977,
.div984,
.div991 {
  top: 1630px;
}
.div949,
.div956,
.div963,
.div970,
.div977,
.div984,
.div991 {
  top: 1400px;
}
.div956,
.div963,
.div970,
.div977,
.div984,
.div991 {
  top: 1170px;
}
.div963,
.div970,
.div977,
.div984,
.div991 {
  top: 940px;
}
.div970,
.div977,
.div984,
.div991 {
  top: 710px;
}
.div977,
.div984,
.div991 {
  top: 480px;
}
.div984,
.div991 {
  top: 250px;
}
.div991 {
  top: 20px;
}
.frame348 {
  width: 1030px;
  position: relative;
  height: 2199px;
  overflow-y: auto;
  flex-shrink: 0;
  font-size: var(--wwwsaramincokr-inter-bold-752-size);
  color: var(--wwwsaramincokr-comet);
}
.auto-layout-vertical449 {
  position: absolute;
  top: 182px;
  left: 144px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 143px;
  font-size: var(--font-size-16xl);
}
.b181,
.header-list {
  position: absolute;
  letter-spacing: -1px;
}
.header-list {
  top: 23px;
  left: 1314.5px;
  color: var(--wwwsaramincokr-comet);
  text-align: center;
  display: none;
  align-items: center;
  justify-content: center;
  width: 34.7px;
  height: 17px;
}
.b181 {
  top: 0;
  left: 0;
  line-height: 24px;
}
.div1005 {
  top: 20px;
  left: 72px;
  width: 128px;
  height: 24px;
  cursor: pointer;
  font-size: var(--font-size-9xl-5);
}
.b182,
.div1005,
.div1006 {
  position: absolute;
}
.b182 {
  top: 0;
  left: 0;
  letter-spacing: -1px;
  line-height: 28px;
}
.div1006 {
  top: 18px;
  left: 232px;
  width: 78px;
  height: 28px;
  font-size: var(--font-size-3xl);
}
.divheader1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--wwwsaramincokr-catskill-white);
  box-sizing: border-box;
}
.divheader {
  width: 1362px;
  position: relative;
  border: 1px solid var(--wwwsaramincokr-black);
  box-sizing: border-box;
  height: 65px;
}
.div1007 {
  position: absolute;
  top: 8px;
  left: 63px;
  letter-spacing: -0.5px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 5px;
  height: 24px;
}
.div1008 {
  top: 7px;
  left: 227px;
  width: 92px;
}
.b183,
.div1008,
.div1009,
.div1010,
.div1011,
.div1012,
.div1013 {
  position: absolute;
  letter-spacing: -0.5px;
  line-height: 24px;
  display: flex;
  align-items: center;
  height: 24px;
}
.b183 {
  top: 8px;
  left: 292px;
  color: var(--wwwsaramincokr-black);
  width: 118px;
}
.div1009,
.div1010,
.div1011,
.div1012,
.div1013 {
  top: 7px;
  left: 380px;
  width: 158px;
}
.div1010,
.div1011,
.div1012,
.div1013 {
  top: 8px;
  left: 469px;
  width: 90px;
}
.div1011,
.div1012,
.div1013 {
  top: 7px;
  left: 550px;
  width: 75px;
}
.div1012,
.div1013 {
  left: 611px;
  width: 183px;
}
.div1013 {
  left: 105px;
  width: 100px;
}
.frame412 {
  width: 1362px;
  position: relative;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--wwwsaramincokr-dove-gray);
  box-sizing: border-box;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--font-size-smi);
  color: var(--wwwsaramincokr-comet);
}
.auto-layout-vertical450,
.auto-layout-vertical451 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.auto-layout-vertical451 {
  gap: 26px;
}
.auto-layout-vertical450 {
  position: absolute;
  top: -10px;
  left: -10px;
  padding: var(--padding-3xs);
  font-size: var(--font-size-4xs-7);
}
.div843 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2976px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--wwwsaramincokr-black);
  font-family: var(--wwwsaramincokr-inter-bold-752);
}
