.rectangle369 {
  position: absolute;
  height: 65.62%;
  width: 100%;
  top: 34.38%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--new-fill-d9d9d9);
}
.fax-00-0000-00003 {
  width: 19.72%;
  left: 78.35%;
  font-size: var(--font-size-4xl);
  white-space: pre-wrap;
}
.div785,
.fax-00-0000-00003,
.o2b2o2b2cokr3 {
  position: absolute;
  height: 37.51%;
  top: 46.86%;
  line-height: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.o2b2o2b2cokr3 {
  width: 21.48%;
  left: 54.22%;
  font-size: var(--font-size-4xl);
  white-space: pre-wrap;
}
.div785 {
  width: 48.94%;
  left: 1.76%;
  font-size: var(--font-size-2xl);
}
.div786 {
  width: 4.05%;
  left: 80.99%;
  font-size: var(--inter-regular-size);
  letter-spacing: -1px;
}
.api3,
.div786,
.div787 {
  position: absolute;
  height: 23.43%;
  top: 0;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.div787 {
  width: 4.76%;
  left: 73.07%;
  font-size: var(--inter-regular-size);
}
.api3 {
  width: 6.86%;
  left: 62.85%;
}
.div788 {
  width: 10.21%;
  left: 49.3%;
}
.div788,
.div789,
.div790,
.div791,
.div792 {
  position: absolute;
  height: 23.43%;
  top: 0;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.div789 {
  width: 9.33%;
  left: 37.15%;
  font-weight: 100;
}
.div790,
.div791,
.div792 {
  width: 4.76%;
  left: 29.57%;
}
.div791,
.div792 {
  left: 22.19%;
}
.div792 {
  width: 4.93%;
  left: 14.61%;
  font-size: var(--inter-regular-size);
}
.div784,
.rectangle370 {
  position: absolute;
  left: 0;
}
.div784 {
  top: 3927px;
  width: 1409px;
  height: 169px;
  color: var(--wwwsaramincokr-comet);
}
.rectangle370 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-darkgray-100);
}
.vector-icon83 {
  position: absolute;
  height: 18.55%;
  width: 14.16%;
  top: 61.45%;
  right: 78.33%;
  bottom: 20%;
  left: 7.51%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b113 {
  position: absolute;
  height: 13.45%;
  width: 85.84%;
  top: 38.55%;
  left: 6.22%;
  letter-spacing: -2.5px;
  line-height: 37px;
  display: flex;
  align-items: center;
}
.rectangle371 {
  position: absolute;
  height: 17.82%;
  width: 27.9%;
  top: 8%;
  right: 3.65%;
  bottom: 74.18%;
  left: 68.45%;
  border-radius: var(--br-31xl);
  background-color: var(--color-darkslategray-100);
}
.b114 {
  position: absolute;
  top: 10.18%;
  left: 75.75%;
  font-size: var(--font-size-lgi);
  letter-spacing: -2.5px;
  line-height: 37px;
}
.div793 {
  width: 466px;
  position: relative;
  height: 275px;
}
.auto-layout-horizontal136 {
  width: 1011px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 41px 79px;
}
.vector-icon103 {
  position: absolute;
  height: 18.53%;
  width: 14.16%;
  top: 61.47%;
  right: 78.33%;
  bottom: 20%;
  left: 7.51%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.b153 {
  position: absolute;
  height: 13.46%;
  width: 85.84%;
  top: 38.53%;
  left: 6.21%;
  letter-spacing: -2.5px;
  line-height: 37px;
  display: flex;
  align-items: center;
}
.b154,
.rectangle411 {
  position: absolute;
  display: none;
}
.rectangle411 {
  height: 17.83%;
  width: 27.91%;
  top: 8.01%;
  right: 3.63%;
  bottom: 74.15%;
  left: 68.46%;
  border-radius: var(--br-31xl);
  background-color: var(--color-darkslategray-100);
}
.b154 {
  top: 10.18%;
  left: 75.75%;
  font-size: var(--font-size-lgi);
  letter-spacing: -2.5px;
  line-height: 37px;
}
.div813 {
  width: 449px;
  position: relative;
  background-color: #c4c4c4;
  height: 272px;
}
.auto-layout-vertical448 {
  position: absolute;
  top: 289px;
  left: 199px;
  height: 3455px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 64px;
  font-size: var(--font-size-16xl);
  color: var(--color-white);
}
.div814 {
  position: absolute;
  top: 149px;
  left: 184px;
  font-size: var(--font-size-18xl);
  letter-spacing: -4px;
  line-height: 36px;
  color: var(--wwwsaramincokr-tundora);
  display: flex;
  align-items: center;
  width: 316px;
  height: 36px;
}
.div818 {
  top: 0;
  left: 0;
  letter-spacing: -1px;
  font-weight: 100;
  background: linear-gradient(#4876ef, #4876ef), #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.div817,
.div818,
.div820 {
  position: absolute;
}
.div817 {
  top: 7px;
  left: 16px;
  width: 52px;
  height: 24px;
  display: none;
}
.div820 {
  top: 0;
  left: 0;
  letter-spacing: -1px;
  font-weight: 100;
}
.div819,
.div821,
.div823,
.div825 {
  position: absolute;
  top: 7px;
  left: 89px;
  width: 86px;
  height: 24px;
  display: none;
}
.div821,
.div823,
.div825 {
  left: 196px;
  width: 52px;
}
.div823,
.div825 {
  left: 269px;
  width: 69px;
}
.div825 {
  left: 359px;
}
.div816 {
  width: 771px;
  position: relative;
  border-radius: var(--br-base);
  border: 1px solid var(--wwwsaramincokr-black);
  box-sizing: border-box;
  height: 46px;
  z-index: 0;
  color: var(--color-royalblue-400);
}
.div827,
.div828 {
  position: absolute;
  left: 0;
}
.div828 {
  top: 3.44%;
  letter-spacing: -1px;
  font-weight: 100;
}
.div827 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.property-1default10 {
  width: 8.95%;
  position: absolute;
  margin: 0 !important;
  height: 63.26%;
  top: 17.39%;
  right: 46.43%;
  bottom: 19.35%;
  left: 44.62%;
  cursor: pointer;
  z-index: 1;
}
.div829,
.property-1default11 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
.property-1default11 {
  width: 8.95%;
  margin: 0 !important;
  height: 63.26%;
  top: 17.39%;
  right: 57.33%;
  bottom: 19.35%;
  left: 33.72%;
  z-index: 2;
}
.property-1default12 {
  width: 6.74%;
  margin: 0 !important;
  height: 63.26%;
  top: 19.57%;
  right: 68.22%;
  bottom: 17.17%;
  left: 25.03%;
  z-index: 3;
}
.div834,
.property-1default12,
.property-1default13 {
  position: absolute;
  cursor: pointer;
}
.div834 {
  top: 3.44%;
  left: 0;
  letter-spacing: -1px;
  font-weight: 100;
}
.property-1default13 {
  width: 11.15%;
  margin: 0 !important;
  height: 63.26%;
  top: 17.39%;
  right: 76.91%;
  bottom: 19.35%;
  left: 11.93%;
  z-index: 4;
}
.div836 {
  position: absolute;
  top: 3.44%;
  left: 19.77%;
  letter-spacing: -1px;
  font-weight: 100;
}
.property-1default14 {
  width: 11.15%;
  position: absolute;
  margin: 0 !important;
  height: 63.26%;
  top: 19.57%;
  right: 87.55%;
  bottom: 17.17%;
  left: 1.3%;
  cursor: pointer;
  z-index: 5;
}
.b155,
.div815 {
  position: absolute;
  display: flex;
}
.div815 {
  top: 58px;
  left: 288px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  text-align: center;
  font-size: var(--font-size-lgi-5);
}
.b155 {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  letter-spacing: -1px;
  align-items: center;
  justify-content: center;
}
.div838 {
  width: 42px;
  position: relative;
  height: 42px;
  cursor: pointer;
}
.b156 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -1px;
}
.div839 {
  width: 65px;
  position: relative;
  height: 43px;
}
.div840 {
  width: 128px;
  cursor: pointer;
}
.div840,
.div841,
.div842,
.match6 {
  position: relative;
  height: 43px;
}
.match6 {
  width: 223px;
  cursor: pointer;
}
.div841,
.div842 {
  width: 145px;
}
.div842 {
  width: 138px;
  cursor: pointer;
}
.search-icon3 {
  width: 258px;
  position: relative;
  border-radius: var(--br-5xs);
  height: 44px;
}
.div783,
.div837 {
  background-color: var(--color-white);
  overflow: hidden;
}
.div837 {
  position: absolute;
  top: 0;
  left: 139px;
  border-radius: var(--br-xl);
  border: 1px solid var(--wwwsaramincokr-black);
  box-sizing: border-box;
  width: 1206px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-3xs);
  gap: var(--gap-lg);
  text-align: center;
  font-size: var(--font-size-16xl-5);
}
.div783 {
  width: 100%;
  position: relative;
  height: 4096px;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--wwwsaramincokr-black);
  font-family: var(--wwwsaramincokr-inter-bold-752);
}
