.image-icon174,
.rectangle552 {
  position: absolute;
  top: calc(50% + 25px);
}
.rectangle552 {
  left: 818px;
  background-color: var(--color-gainsboro-800);
  width: 1px;
  height: 14px;
}
.image-icon174 {
  left: 787px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.txt52 {
  width: 100%;
}
.div1893 {
  position: absolute;
  top: 109px;
  left: calc(50% - 329px);
  letter-spacing: -1px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 154px;
  height: 24px;
}
.image-icon175,
.image-icon176,
.image-icon177,
.image-icon178,
.image-icon179 {
  position: absolute;
  top: calc(50% + 22px);
  left: calc(50% + 118px);
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.image-icon176,
.image-icon177,
.image-icon178,
.image-icon179 {
  left: calc(50% + 86px);
}
.image-icon177,
.image-icon178,
.image-icon179 {
  left: calc(50% + 54px);
}
.image-icon178,
.image-icon179 {
  left: calc(50% + 22px);
}
.image-icon179 {
  left: calc(50% - 10px);
}
.div1894 {
  position: absolute;
  top: 107px;
  left: calc(50% - 118px);
  letter-spacing: -1px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 24px;
}
.rectangle553 {
  position: absolute;
  top: calc(50% - 9px);
  left: 835px;
  background-color: var(--color-gainsboro-800);
  width: 2px;
  height: 14px;
}
.helpsaramincokr2 {
  position: absolute;
  top: 72px;
  left: calc(50% - 77px);
  letter-spacing: -1px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 195px;
  height: 24px;
}
.rectangle554 {
  position: absolute;
  top: calc(50% - 9px);
  left: 1077px;
  background-color: var(--color-gainsboro-800);
  width: 2px;
  height: 14px;
}
.div1895,
.fax2 {
  position: absolute;
  letter-spacing: -1px;
  line-height: 24px;
  display: flex;
  align-items: center;
  height: 24px;
}
.div1895 {
  top: 72px;
  left: calc(50% + 178px);
  justify-content: center;
  width: 137px;
}
.fax2 {
  left: calc(50% + 124px);
  width: 44px;
}
.div1896,
.div1897,
.fax2 {
  top: 72px;
  justify-content: center;
}
.div1896 {
  position: absolute;
  left: calc(50% - 120px);
  letter-spacing: -1px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 38px;
  height: 24px;
}
.div1897 {
  left: calc(50% - 416px);
  width: 287px;
}
.api9,
.b424,
.div1897,
.div1898,
.div1899,
.div1900,
.div1901,
.div1902,
.div1903,
.div1904 {
  position: absolute;
  letter-spacing: -1px;
  line-height: 24px;
  display: flex;
  align-items: center;
  height: 24px;
}
.div1898 {
  top: 72px;
  left: calc(50% - 511px);
  justify-content: center;
  width: 94px;
}
.api9,
.b424,
.div1899,
.div1900,
.div1901,
.div1902,
.div1903,
.div1904 {
  top: 26px;
  left: 1038px;
  font-size: var(--inter-regular-size);
  text-align: left;
  width: 51px;
}
.api9,
.b424,
.div1900,
.div1901,
.div1902,
.div1903,
.div1904 {
  left: 985px;
  width: 49px;
}
.api9,
.b424,
.div1901,
.div1902,
.div1903,
.div1904 {
  left: 905px;
  width: 78px;
}
.b424,
.div1901,
.div1902,
.div1903,
.div1904 {
  left: 793px;
  width: 112px;
}
.b424,
.div1902,
.div1903,
.div1904 {
  left: 695px;
  width: 98px;
}
.div1902,
.div1903,
.div1904 {
  left: 643px;
  width: 52px;
}
.div1903,
.div1904 {
  left: 588px;
  width: 54px;
}
.div1904 {
  left: 529px;
}
.frame1392 {
  position: absolute;
  width: 100%;
  top: 2947px;
  right: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  border-top: 1px solid var(--wwwsaramincokr-geyser);
  border-bottom: 1px solid var(--wwwsaramincokr-geyser);
  box-sizing: border-box;
  height: 172px;
  text-align: center;
}
.frame-icon111 {
  position: absolute;
  top: 2773px;
  left: 596px;
  width: 729px;
  height: 90px;
  overflow: hidden;
  object-fit: cover;
}
.cj2,
.frame1398 {
  position: absolute;
  height: 20px;
}
.cj2 {
  top: 0;
  left: 0;
  letter-spacing: -1px;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 47px;
}
.frame1398 {
  width: calc(100% - 42px);
  top: 21px;
  right: 21px;
  left: 21px;
  overflow: hidden;
  font-size: var(--font-size-mini);
}
.cj-container,
.frame1399 {
  position: absolute;
  height: 35px;
}
.cj-container {
  top: 0;
  left: -1px;
  letter-spacing: -1px;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 218px;
}
.frame1399 {
  width: calc(100% - 42px);
  top: 47px;
  right: 15px;
  left: 27px;
  overflow: hidden;
  font-size: var(--font-size-mini);
}
.div1905,
.div1906 {
  position: absolute;
  top: 1px;
  left: 1px;
  letter-spacing: -1px;
  line-height: 17px;
  display: flex;
  align-items: center;
  width: 41px;
  height: 17px;
}
.div1906 {
  left: 53px;
  width: 57px;
}
.frame1400 {
  position: absolute;
  top: 88px;
  left: 21px;
  width: 210px;
  height: 20px;
  overflow: hidden;
  color: var(--color-gray-200);
}
.div1907,
.div1908 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div1907 {
  top: 135px;
  left: 79px;
  letter-spacing: -0.5px;
  line-height: 17px;
  color: var(--wwwsaramincokr-comet);
  width: 63px;
  height: 14px;
}
.div1908 {
  top: 3px;
  left: calc(50% - 32px);
  letter-spacing: -1px;
  line-height: 12px;
  justify-content: center;
  width: 65px;
  height: 12px;
}
.frame1402 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 1px solid var(--color-lavender-300);
  box-sizing: border-box;
  width: 78px;
  height: 18px;
}
.div1909,
.frame1401 {
  position: absolute;
  height: 17px;
}
.frame1401 {
  top: 133px;
  left: 143px;
  width: 78px;
  overflow: hidden;
  text-align: center;
  color: var(--new-fill-475067);
}
.div1909 {
  top: 0;
  left: 0;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  width: 5px;
}
.frame1403 {
  position: absolute;
  top: 134px;
  left: 79px;
  width: 2px;
  height: 1px;
  overflow: hidden;
  color: var(--wwwsaramincokr-black);
}
.b425,
.frame1397 {
  position: absolute;
  top: 0;
  left: 0;
}
.frame1397 {
  border: 1px solid var(--wwwsaramincokr-mercury);
  box-sizing: border-box;
  width: 241px;
  height: 168px;
}
.b425 {
  letter-spacing: -1px;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 67px;
  height: 20px;
}
.div1910,
.frame1406 {
  position: absolute;
  height: 43px;
}
.div1910 {
  top: 0;
  left: 0;
  letter-spacing: -1px;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 162px;
}
.frame1406 {
  width: calc(100% - 42px);
  top: 48px;
  right: 21px;
  left: 21px;
  overflow: hidden;
  font-size: var(--font-size-mini);
}
.div1911,
.div1912 {
  position: absolute;
  top: 1px;
  left: 0;
  letter-spacing: -1px;
  line-height: 17px;
  display: flex;
  align-items: center;
  width: 44px;
  height: 17px;
}
.div1912 {
  left: 54px;
  width: 68px;
}
.frame1407 {
  position: absolute;
  top: 100px;
  left: 21px;
  width: 210px;
  height: 20px;
  overflow: hidden;
  color: var(--color-gray-200);
}
.div1913,
.div1914 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div1913 {
  top: 135px;
  left: 71px;
  letter-spacing: -0.5px;
  line-height: 17px;
  color: var(--wwwsaramincokr-comet);
  width: 68px;
  height: 14px;
}
.div1914 {
  top: 3px;
  left: calc(50% - 33px);
  letter-spacing: -1px;
  line-height: 12px;
  justify-content: center;
  width: 66px;
  height: 12px;
}
.frame1408,
.frame1410 {
  position: absolute;
  top: 133px;
  overflow: hidden;
}
.frame1408 {
  left: 142px;
  width: 78px;
  height: 17px;
  text-align: center;
  color: var(--new-fill-475067);
}
.frame1410 {
  left: 91px;
  width: 1px;
  height: 1px;
  color: var(--wwwsaramincokr-black);
}
.frame1404 {
  position: absolute;
  top: 0;
  left: 240px;
  border: 1px solid var(--wwwsaramincokr-mercury);
  box-sizing: border-box;
  width: 241px;
  height: 168px;
}
.b426,
.div1916 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -1px;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 58px;
  height: 20px;
}
.div1916 {
  left: -1px;
  width: 201px;
  height: 39px;
}
.frame1413 {
  position: absolute;
  width: calc(100% - 41px);
  top: 48px;
  right: 20px;
  left: 21px;
  height: 43px;
  overflow: hidden;
  font-size: var(--font-size-mini);
}
.div1917,
.div1918 {
  position: absolute;
  top: 1px;
  left: 0;
  letter-spacing: -1px;
  line-height: 17px;
  display: flex;
  align-items: center;
  width: 80px;
  height: 17px;
}
.div1918 {
  left: 89px;
  width: 30px;
}
.frame1414 {
  position: absolute;
  top: 99px;
  left: 21px;
  width: 210px;
  height: 20px;
  overflow: hidden;
  color: var(--color-gray-200);
}
.div1919 {
  position: absolute;
  top: 135px;
  left: 73px;
  letter-spacing: -0.5px;
  line-height: 17px;
  color: var(--wwwsaramincokr-comet);
  display: flex;
  align-items: center;
  width: 66px;
  height: 14px;
}
.frame1417 {
  position: absolute;
  top: 133px;
  left: 85px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  font-size: var(--wwwsaramincokr-inter-regular-8-size);
  color: var(--wwwsaramincokr-black);
}
.frame1411 {
  position: absolute;
  top: 0;
  left: 480px;
  border: 1px solid var(--wwwsaramincokr-mercury);
  box-sizing: border-box;
  width: 241px;
  height: 168px;
}
.b427,
.div1922 {
  position: absolute;
  top: 0;
  left: 1px;
  letter-spacing: -1px;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 122px;
  height: 20px;
}
.div1922 {
  top: -1px;
  width: 198px;
  height: 39px;
}
.frame1420 {
  position: absolute;
  width: calc(100% - 41px);
  top: 48px;
  right: 20px;
  left: 21px;
  height: 38px;
  overflow: hidden;
  font-size: var(--font-size-mini);
}
.div1923,
.div1924 {
  position: absolute;
  top: 1px;
  left: 1px;
  letter-spacing: -1px;
  line-height: 17px;
  display: flex;
  align-items: center;
  width: 42px;
  height: 17px;
}
.div1924 {
  left: 53px;
  width: 67px;
}
.frame1421 {
  position: absolute;
  top: 98px;
  left: 21px;
  width: 210px;
  height: 20px;
  overflow: hidden;
  color: var(--color-gray-200);
}
.div1925,
.div1926 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div1925 {
  top: 135px;
  left: 69px;
  letter-spacing: -0.5px;
  line-height: 17px;
  color: var(--wwwsaramincokr-comet);
  width: 63px;
  height: 14px;
}
.div1926 {
  top: 4px;
  left: calc(50% - 32px);
  letter-spacing: -1px;
  line-height: 12px;
  justify-content: center;
  width: 65px;
  height: 12px;
}
.frame1422,
.frame1424 {
  position: absolute;
  top: 133px;
  overflow: hidden;
}
.frame1422 {
  left: 141px;
  width: 78px;
  height: 17px;
  text-align: center;
  color: var(--new-fill-475067);
}
.frame1424 {
  left: 84px;
  width: 1px;
  height: 1px;
  color: var(--wwwsaramincokr-black);
}
.b428,
.frame1418 {
  position: absolute;
  top: 0;
}
.frame1418 {
  left: 720px;
  border: 1px solid var(--wwwsaramincokr-mercury);
  box-sizing: border-box;
  width: 240px;
  height: 168px;
}
.b428 {
  left: 1px;
  letter-spacing: -1px;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 51px;
  height: 20px;
}
.frame1426 {
  width: calc(100% - 42px);
  top: 21px;
  right: 21px;
  left: 21px;
  overflow: hidden;
  font-size: var(--inter-regular-size);
}
.div1928,
.frame1426,
.frame1427 {
  position: absolute;
  height: 20px;
}
.div1928 {
  top: 0;
  left: 1px;
  letter-spacing: -1px;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 188px;
}
.frame1427 {
  width: calc(100% - 42px);
  top: 47px;
  right: 21px;
  left: 21px;
  overflow: hidden;
  font-size: var(--inter-regular-size);
}
.div1929,
.div1930 {
  position: absolute;
  top: 1px;
  left: 0;
  letter-spacing: -1px;
  line-height: 17px;
  display: flex;
  align-items: center;
  width: 42px;
  height: 17px;
}
.div1930 {
  left: 53px;
  width: 65px;
}
.frame1428 {
  position: absolute;
  top: 73px;
  left: 21px;
  width: 210px;
  height: 20px;
  overflow: hidden;
  color: var(--color-gray-200);
}
.div1931,
.div1932 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div1931 {
  top: 135px;
  left: 73px;
  letter-spacing: -0.5px;
  line-height: 17px;
  color: var(--wwwsaramincokr-comet);
  width: 60px;
  height: 14px;
}
.div1932 {
  top: 3px;
  left: calc(50% - 31px);
  letter-spacing: -1px;
  line-height: 12px;
  justify-content: center;
  width: 64px;
  height: 12px;
}
.frame1431 {
  position: absolute;
  top: 133px;
  left: 85px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  color: var(--wwwsaramincokr-black);
}
.b429,
.frame1425 {
  position: absolute;
  top: 0;
}
.frame1425 {
  left: 959px;
  border: 1px solid var(--wwwsaramincokr-mercury);
  box-sizing: border-box;
  width: 241px;
  height: 168px;
}
.b429 {
  left: 1px;
  letter-spacing: -1px;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 59px;
  height: 20px;
}
.frame1433 {
  width: calc(100% - 42px);
  top: 21px;
  right: 21px;
  left: 21px;
  overflow: hidden;
}
.frame1433,
.frame1434,
.kt {
  position: absolute;
  height: 20px;
}
.kt {
  top: 0;
  left: 0;
  letter-spacing: -1px;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 200px;
}
.frame1434 {
  width: calc(100% - 42px);
  top: 47px;
  right: 21px;
  left: 21px;
  overflow: hidden;
}
.div1934,
.div1935 {
  position: absolute;
  top: 1px;
  left: 1px;
  letter-spacing: -1px;
  line-height: 17px;
  display: flex;
  align-items: center;
  width: 38px;
  height: 17px;
}
.div1935 {
  left: 49px;
  width: 61px;
}
.frame1435 {
  position: absolute;
  top: 73px;
  left: 21px;
  width: 210px;
  height: 20px;
  overflow: hidden;
  font-size: var(--inter-regular2-size);
  color: var(--color-gray-200);
}
.frame1432 {
  position: absolute;
  top: 0;
  left: 1199px;
  border: 1px solid var(--wwwsaramincokr-mercury);
  box-sizing: border-box;
  width: 241px;
  height: 168px;
  font-size: var(--font-size-smi);
}
.frame1394,
.frame1395,
.frame1396 {
  position: absolute;
  left: 0;
  height: 168px;
}
.frame1396 {
  top: 0;
  width: 2421px;
  overflow: hidden;
}
.frame1394,
.frame1395 {
  width: 100%;
  right: 0;
}
.frame1395 {
  top: 0;
  overflow: hidden;
}
.frame1394 {
  top: 1890px;
  background-color: var(--color-white);
  font-size: var(--inter-regular2-size);
}
.div1936 {
  position: absolute;
  top: 0;
  left: calc(50% - 0.5px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6px;
  height: 17px;
}
.frame1437 {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.frame1436 {
  position: absolute;
  height: 1.47%;
  top: 89.8%;
  right: 0;
  bottom: 8.73%;
  width: 32px;
  background-image: url(./public/frame21@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  opacity: 0.3;
  text-align: center;
  font-size: var(--wwwsaramincokr-inter-regular-8-size);
  color: var(--wwwsaramincokr-black);
}
.div1937 {
  position: absolute;
  top: 1861px;
  left: 178px;
  letter-spacing: -1px;
  color: var(--wwwsaramincokr-dove-gray);
  display: flex;
  align-items: center;
  width: 36px;
  height: 15px;
}
.span41 {
  color: var(--wwwsaramincokr-comet);
}
.txt54 {
  line-break: anywhere;
  width: 100%;
}
.div1938,
.div1939 {
  position: absolute;
  top: 1860px;
  display: flex;
  align-items: center;
  height: 15px;
}
.div1938 {
  left: 1242px;
  font-size: var(--font-size-smi-8);
  width: 18px;
  color: var(--color-royalblue-600);
}
.div1939 {
  left: 215px;
  letter-spacing: -1px;
  color: var(--wwwsaramincokr-dove-gray);
  width: 7px;
}
.div1940 {
  top: 1855px;
  left: 0;
  font-size: var(--body-text-size);
  width: 75px;
  height: 22px;
}
.b430,
.div1940,
.div1941,
.hot1001 {
  position: absolute;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
}
.hot1001 {
  top: 1852px;
  left: 71px;
  font-size: var(--body-text-size);
  width: 77px;
  height: 25px;
}
.b430,
.div1941 {
  top: 83px;
  left: 50px;
  line-height: 22px;
  width: 603px;
  height: 88px;
}
.b430 {
  top: 46px;
  left: 51px;
  font-size: var(--font-size-lg);
  line-height: 24px;
  color: var(--wwwsaramincokr-dove-gray);
  width: 121px;
  height: 24px;
}
.frame1438 {
  position: absolute;
  width: 100%;
  top: 1552px;
  right: 0;
  left: 0;
  background-color: #f5f5f5;
  height: 218px;
  font-size: var(--inter-regular2-size);
  color: var(--color-gray-400);
}
.div1942 {
  position: absolute;
  top: 1px;
  left: calc(50% - 7px);
  letter-spacing: -1px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 30px;
}
.frame1440 {
  position: absolute;
  top: calc(50% + 654.5px);
  left: calc(50% + 121px);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-700);
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  font-size: var(--font-size-sm-5);
}
.div1943 {
  position: absolute;
  top: 1px;
  left: calc(50% - 3px);
  letter-spacing: -1px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7px;
  height: 30px;
}
.frame1441,
.frame1442 {
  position: absolute;
  top: calc(50% + 654.5px);
  left: calc(50% + 84px);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-700);
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  font-size: var(--font-size-sm-7);
}
.frame1442 {
  left: calc(50% + 47px);
}
.frame1443 {
  left: calc(50% + 10px);
}
.frame1443,
.frame1444,
.frame1445 {
  position: absolute;
  top: calc(50% + 654.5px);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-700);
  box-sizing: border-box;
  width: 32px;
  height: 32px;
}
.frame1444 {
  left: calc(50% - 27px);
  font-size: var(--font-size-sm-7);
}
.frame1445 {
  left: calc(50% - 64px);
}
.frame1446 {
  left: calc(50% - 101px);
  font-size: var(--font-size-smi-9);
}
.frame1446,
.frame1447,
.frame1448 {
  position: absolute;
  top: calc(50% + 654.5px);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-700);
  box-sizing: border-box;
  width: 32px;
  height: 32px;
}
.frame1447 {
  left: calc(50% - 138px);
  font-size: var(--font-size-sm-8);
}
.frame1448 {
  left: calc(50% - 175px);
}
.b431 {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 3px);
  letter-spacing: -1px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7px;
  height: 30px;
}
.frame1449 {
  position: absolute;
  top: calc(50% + 654.5px);
  left: calc(50% - 212px);
  background-color: var(--color-white);
  border: 1px solid var(--wwwsaramincokr-tundora);
  box-sizing: border-box;
  width: 32px;
  height: 32px;
}
.div1951 {
  position: absolute;
  top: calc(50% - 18px);
  left: calc(50% - 9px);
  letter-spacing: -1px;
  line-height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8px;
  height: 33px;
}
.frame1450 {
  position: absolute;
  top: calc(50% + 652.5px);
  left: calc(50% + 172px);
  width: 40px;
  height: 36px;
  background-image: url(./public/frame@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: var(--font-size-6xs);
}
.frame1439 {
  position: absolute;
  width: 100%;
  top: 137px;
  right: 0;
  left: 0;
  border-top: 1px solid var(--wwwsaramincokr-tundora);
  box-sizing: border-box;
  height: 1375px;
  text-align: center;
  font-size: var(--inter-regular-size);
  color: var(--wwwsaramincokr-tundora);
}
.image-icon180 {
  position: absolute;
  top: 10px;
  left: calc(50% - 24px);
  width: 14px;
  height: 14px;
  object-fit: cover;
}
.div1952 {
  position: absolute;
  top: 7px;
  left: calc(50% - 1px);
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 15px;
}
.frame1451,
.image-icon181 {
  position: absolute;
  height: 32px;
}
.frame1451 {
  right: 0;
  bottom: 664px;
  background-color: var(--color-royalblue-100);
  width: 130px;
  text-align: center;
  font-size: var(--wwwsaramincokr-inter-regular-782-size);
  color: var(--color-white);
}
.image-icon181 {
  top: calc(50% - 16px);
  left: 244px;
  width: 32px;
  object-fit: cover;
}
.b432 {
  position: absolute;
  top: 10px;
  left: calc(50% - 12.5px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 15px;
}
.frame1453 {
  position: absolute;
  top: 0;
  left: 187px;
  background-color: var(--color-royalblue-100);
  width: 57px;
  height: 32px;
}
.div1953,
.frame1455 {
  position: absolute;
  height: 15px;
}
.div1953 {
  top: 1px;
  left: 1px;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  width: 35px;
}
.frame1455 {
  width: calc(100% - 22px);
  top: 8px;
  right: 11px;
  left: 11px;
  overflow: hidden;
}
.frame1452,
.frame1454 {
  position: absolute;
  background-color: var(--color-white);
  height: 32px;
}
.frame1454 {
  top: calc(50% - 16px);
  left: 0;
  border-top: 1px solid var(--color-gainsboro-800);
  border-bottom: 1px solid var(--color-gainsboro-800);
  border-left: 1px solid var(--color-gainsboro-800);
  box-sizing: border-box;
  width: 187px;
  text-align: left;
  color: var(--color-gray-900);
}
.frame1452 {
  top: 95px;
  left: 984px;
  width: 276px;
  text-align: center;
  color: var(--color-white);
}
.frame-icon112,
.frame-icon113,
.frame-icon114 {
  position: absolute;
  top: calc(50% - 993px);
  left: 851px;
  width: 129px;
  height: 32px;
  object-fit: cover;
}
.frame-icon113,
.frame-icon114 {
  left: 741px;
  width: 105px;
}
.frame-icon114 {
  left: 0;
  width: 87px;
}
.b433 {
  color: var(--color-royalblue-400);
}
.b434,
.b435,
.div1954 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div1954 {
  top: 53px;
  left: 1172px;
  font-size: var(--font-size-mini);
  letter-spacing: -1px;
  line-height: 18px;
  width: 89px;
  height: 18px;
  color: var(--wwwsaramincokr-black);
}
.b434,
.b435 {
  left: 0;
}
.b434 {
  top: 41px;
  font-size: var(--font-size-5xl);
  letter-spacing: -2px;
  line-height: 32px;
  width: 226px;
  height: 32px;
}
.b435 {
  top: 0;
  letter-spacing: -1px;
  width: 84px;
  height: 21px;
}
.div1955,
.frame1458 {
  position: absolute;
  top: 1px;
}
.div1955 {
  left: calc(50% - 17px);
  letter-spacing: -1px;
  line-height: 16px;
  display: flex;
  align-items: center;
  width: 34px;
  height: 16px;
}
.frame1458 {
  left: 88px;
  background-color: var(--color-white);
  border: 1px solid var(--wwwsaramincokr-mercury);
  box-sizing: border-box;
  width: 48px;
  height: 20px;
  color: var(--color-orangered);
}
.frame1457 {
  position: absolute;
  top: 30.5px;
  left: 38.5px;
  width: 322px;
  height: 24px;
  overflow: hidden;
}
.div1956,
.item21 {
  position: absolute;
  line-height: 17px;
  display: flex;
  align-items: center;
  height: 17px;
}
.div1956 {
  top: 50px;
  right: 111.8px;
  font-size: var(--inter-regular2-size);
  color: var(--color-gray-300);
  text-align: right;
  width: 65.3px;
}
.item21 {
  top: -0.5px;
  left: -0.5px;
  letter-spacing: -1px;
  width: 32px;
}
.rectangle555 {
  position: absolute;
  top: 1.5px;
  left: 29.5px;
  background-color: var(--color-gainsboro-1000);
  width: 1px;
  height: 14px;
}
.item-2024 {
  position: absolute;
  top: -0.5px;
  left: 39.5px;
  letter-spacing: -1px;
  line-height: 17px;
  display: flex;
  align-items: center;
  width: 88px;
  height: 17px;
}
.rectangle556 {
  position: absolute;
  top: 1.5px;
  left: 128.5px;
  background-color: var(--color-gainsboro-1000);
  width: 1px;
  height: 14px;
}
.frame1459,
.item22 {
  position: absolute;
  height: 17px;
}
.item22 {
  top: -0.5px;
  left: 139.5px;
  letter-spacing: -1px;
  line-height: 17px;
  display: flex;
  align-items: center;
  width: 31px;
}
.frame1459 {
  width: calc(100% - 151px);
  top: 64px;
  right: 112px;
  left: 39px;
  overflow: hidden;
  color: var(--wwwsaramincokr-tundora);
}
.frame1461,
.image-icon182 {
  position: absolute;
  top: 41.5px;
}
.image-icon182 {
  left: 1187px;
  width: 33px;
  height: 33px;
  object-fit: cover;
}
.frame1461 {
  left: 610px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.frame1460 {
  position: absolute;
  width: 99.84%;
  top: 0;
  right: 0.08%;
  left: 0.08%;
  height: 120px;
  background-image: url(./public/frame28@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  text-align: center;
  font-size: var(--wwwsaramincokr-inter-regular-8-size);
  color: var(--wwwsaramincokr-black);
}
.divbox-review,
.divbox-review1,
.divbox-review2,
.divbox-review3,
.divbox-review4,
.divbox-review5,
.divbox-review6,
.divbox-review7,
.divbox-review8,
.divbox-review9 {
  position: absolute;
  width: calc(100% + 2px);
  top: 1300px;
  right: -2px;
  left: 0;
  border-right: 1px solid var(--wwwsaramincokr-mercury);
  border-bottom: 1px solid var(--wwwsaramincokr-mercury);
  border-left: 1px solid var(--wwwsaramincokr-mercury);
  box-sizing: border-box;
  height: 121px;
}
.divbox-review1,
.divbox-review2,
.divbox-review3,
.divbox-review4,
.divbox-review5,
.divbox-review6,
.divbox-review7,
.divbox-review8,
.divbox-review9 {
  top: 1171px;
}
.divbox-review2,
.divbox-review3,
.divbox-review4,
.divbox-review5,
.divbox-review6,
.divbox-review7,
.divbox-review8,
.divbox-review9 {
  top: 1042px;
}
.divbox-review3,
.divbox-review4,
.divbox-review5,
.divbox-review6,
.divbox-review7,
.divbox-review8,
.divbox-review9 {
  top: 913px;
}
.divbox-review4,
.divbox-review5,
.divbox-review6,
.divbox-review7,
.divbox-review8,
.divbox-review9 {
  top: 784px;
}
.divbox-review5,
.divbox-review6,
.divbox-review7,
.divbox-review8,
.divbox-review9 {
  top: 655px;
}
.divbox-review6,
.divbox-review7,
.divbox-review8,
.divbox-review9 {
  top: 526px;
}
.divbox-review7,
.divbox-review8,
.divbox-review9 {
  top: 397px;
}
.divbox-review8,
.divbox-review9 {
  top: 268px;
}
.divbox-review9 {
  top: 139px;
}
.image-icon192 {
  position: absolute;
  top: 42px;
  left: 1187px;
  width: 33px;
  height: 33px;
  object-fit: cover;
}
.frame1508 {
  position: absolute;
  top: 42px;
  left: 610px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.frame1507,
.frame1509 {
  position: absolute;
  text-align: center;
  font-size: var(--wwwsaramincokr-inter-regular-8-size);
  color: var(--wwwsaramincokr-black);
}
.frame1507 {
  width: 100%;
  top: 139px;
  right: 0;
  left: 0;
  height: 120px;
  background-image: url(./public/frame28@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.frame1509 {
  top: 42px;
  left: 610px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.frame1456 {
  position: absolute;
  width: 99.84%;
  top: 0;
  right: 0.08%;
  left: 0.08%;
  height: 120px;
  background-image: url(./public/frame28@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.frame1393 {
  position: absolute;
  top: 497px;
  left: calc(50% - 630px);
  background-color: var(--color-white);
  width: 1260px;
  height: 2176px;
  color: var(--wwwsaramincokr-mine-shaft);
}
.div1987 {
  position: absolute;
  top: 0;
  left: calc(50% - 65px);
  letter-spacing: -1px;
  line-height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 42px;
}
.frame1511 {
  position: absolute;
  top: 276px;
  left: 490px;
  border-radius: var(--br-9xs);
  background-color: var(--color-royalblue-400);
  width: 246px;
  height: 44px;
  text-align: center;
  font-size: var(--inder-regular1-size);
}
.az {
  margin: 0;
}
.az-container,
.div1988 {
  position: absolute;
  display: flex;
  align-items: center;
}
.az-container {
  top: 185px;
  left: 507px;
  letter-spacing: -1px;
  line-height: 23px;
  color: #494949;
  width: 314px;
  height: 46px;
}
.div1988 {
  top: 0;
  left: 0;
  width: 6px;
  height: 17px;
}
.frame1512 {
  position: absolute;
  top: 185px;
  left: 480px;
  width: 3px;
  height: 1px;
  overflow: hidden;
  color: var(--wwwsaramincokr-black);
}
.frame1510,
.rectangle575 {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
}
.frame1510 {
  top: 125px;
  height: 372px;
  background-image: url(./public/frame29@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: var(--inter-regular-size);
  color: var(--color-white);
}
.rectangle575 {
  height: calc(100% - 5px);
  top: 3px;
  bottom: 2px;
  background-color: var(--color-white);
}
.div1989 {
  position: absolute;
  top: 21px;
  left: 11px;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  width: 92px;
  height: 16px;
}
.frame1515 {
  position: absolute;
  height: calc(100% - 1px);
  width: calc(100% - 1152px);
  top: 4px;
  right: 768px;
  bottom: -3px;
  left: 384px;
}
.div1990 {
  position: absolute;
  top: 20px;
  left: 11px;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  width: 76px;
  height: 16px;
}
.frame1516 {
  position: absolute;
  height: calc(100% - 1px);
  width: calc(100% - 1162px);
  top: 4px;
  right: 882px;
  bottom: -3px;
  left: 280px;
}
.div1991 {
  position: absolute;
  top: 22px;
  left: calc(50% - 29.5px);
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  width: 66px;
  height: 16px;
}
.frame1517 {
  position: absolute;
  height: calc(100% - 2px);
  width: calc(100% - 1171px);
  top: 1px;
  right: 1121px;
  bottom: 1px;
  left: 50px;
}
.div1992 {
  position: absolute;
  top: 20px;
  left: 8px;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  width: 61px;
  height: 16px;
}
.frame1518 {
  position: absolute;
  height: calc(100% - 1px);
  width: calc(100% - 1183px);
  top: 4px;
  right: 1052px;
  bottom: -3px;
  left: 131px;
}
.b445 {
  position: absolute;
  top: 22px;
  left: 12px;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  width: 57px;
  height: 16px;
}
.frame1519,
.rectangle576 {
  position: absolute;
  bottom: -1px;
}
.rectangle576 {
  width: 100%;
  right: 0;
  left: 0;
  background-color: var(--color-royalblue-600);
  height: 2px;
}
.frame1519 {
  height: calc(100% - 1px);
  width: calc(100% - 1180px);
  top: 2px;
  right: 980px;
  left: 200px;
  color: var(--color-royalblue-600);
}
.frame1514 {
  position: absolute;
  top: 126px;
  left: 331px;
  border-bottom: 1px solid var(--wwwsaramincokr-catskill-white);
  box-sizing: border-box;
  width: 1260px;
  height: 61px;
  color: var(--wwwsaramincokr-comet);
}
.frame1520,
.frame1521 {
  position: absolute;
  height: 15px;
}
.frame1521 {
  top: 0;
  left: 0;
  width: 65px;
  overflow: hidden;
}
.frame1520 {
  top: 91px;
  left: 550px;
  width: 143px;
}
.frame1523,
.frame1524 {
  position: absolute;
  overflow: hidden;
}
.frame1524 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.frame1523 {
  top: 78px;
  left: 340px;
  width: 20px;
  height: 40px;
}
.rectangle577 {
  position: absolute;
  width: 100%;
  top: 64px;
  right: 0;
  left: 0;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0),
    rgba(55, 63, 87, 0.1)
  );
  height: 4px;
}
.frame-icon115 {
  top: 0;
  left: 0;
  width: 64px;
  height: 27px;
  overflow: hidden;
}
.frame-icon115,
.frame1525,
.up {
  position: absolute;
}
.up {
  top: 0;
  left: 0;
  letter-spacing: -1.5px;
  display: flex;
  align-items: center;
  width: 38px;
  height: 19px;
}
.frame1525 {
  top: 64px;
  left: 556px;
  width: 64px;
  height: 27px;
  font-size: var(--font-size-mid);
  color: transparent;
}
.b446 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div1994 {
  width: 42px;
  position: relative;
  height: 42px;
  cursor: pointer;
}
.b447 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -1px;
}
.div1995 {
  width: 65px;
  position: relative;
  height: 43px;
}
.div1996 {
  width: 128px;
  cursor: pointer;
}
.div1996,
.div1997,
.div1998,
.match14 {
  position: relative;
  height: 43px;
}
.match14 {
  width: 223px;
  cursor: pointer;
}
.div1997,
.div1998 {
  width: 145px;
}
.div1998 {
  width: 138px;
  cursor: pointer;
}
.search-icon7 {
  width: 258px;
  position: relative;
  border-radius: var(--br-5xs);
  height: 44px;
}
.div1993 {
  position: absolute;
  top: 2px;
  left: 340px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 1px solid var(--wwwsaramincokr-black);
  box-sizing: border-box;
  width: 1206px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-3xs);
  gap: var(--gap-lg);
  text-align: center;
  font-size: var(--font-size-16xl-5);
}
.rectangle578 {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  background-color: var(--wwwsaramincokr-catskill-white);
  height: 1px;
}
.div1999 {
  width: 771px;
  position: relative;
  border-radius: var(--br-base);
  border: 1px solid var(--wwwsaramincokr-black);
  box-sizing: border-box;
  height: 38px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 0;
}
.div2000,
.div2001 {
  position: absolute;
  top: 0;
}
.div2001 {
  left: -13.04%;
  letter-spacing: -1px;
  font-weight: 100;
  cursor: pointer;
}
.div2000 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}
.property-1default23 {
  width: 8.95%;
  position: absolute;
  margin: 0 !important;
  height: 63.16%;
  top: 23.68%;
  right: 55.12%;
  bottom: 13.16%;
  left: 35.93%;
  z-index: 1;
}
.div2003 {
  position: absolute;
  top: 0;
  left: -24.64%;
  letter-spacing: -1px;
  font-weight: 100;
  cursor: pointer;
}
.property-1default24 {
  width: 8.95%;
  position: absolute;
  margin: 0 !important;
  height: 63.16%;
  top: 23.68%;
  right: 41.5%;
  bottom: 13.16%;
  left: 49.55%;
  z-index: 2;
}
.div2005 {
  position: absolute;
  top: 0;
  left: -15.38%;
  letter-spacing: -1px;
  font-weight: 100;
  cursor: pointer;
}
.property-1default25 {
  width: 6.74%;
  position: absolute;
  margin: 0 !important;
  height: 63.16%;
  top: 23.68%;
  right: 68.74%;
  bottom: 13.16%;
  left: 24.51%;
  z-index: 3;
}
.div2006,
.div2007 {
  position: absolute;
  top: 0;
}
.div2007 {
  left: 10.47%;
  letter-spacing: -1px;
  font-weight: 100;
}
.div2006 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
.property-1default26 {
  width: 11.15%;
  position: absolute;
  margin: 0 !important;
  height: 63.16%;
  top: 23.68%;
  right: 77.56%;
  bottom: 13.16%;
  left: 11.28%;
  z-index: 4;
}
.div2009,
.statedefault2 {
  position: absolute;
  cursor: pointer;
}
.div2009 {
  top: 0;
  left: -15.38%;
  letter-spacing: -1px;
  font-weight: 100;
  background: linear-gradient(#000, #000), #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.statedefault2 {
  width: 52px;
  margin: 0 !important;
  top: 9px;
  left: 19px;
  height: 24px;
  z-index: 5;
}
.match-2 {
  position: absolute;
  top: 69px;
  left: 381px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  text-align: center;
  font-size: var(--font-size-lgi-5);
}
.div2010,
.frame1513 {
  position: absolute;
  top: 0;
}
.frame1513 {
  width: 100%;
  right: 0;
  left: 0;
  background-color: var(--color-white);
  height: 125px;
  font-size: var(--inder-regular1-size);
  color: var(--wwwsaramincokr-black);
}
.div2010 {
  left: -57600px;
  font-size: var(--wwwsaramincokr-inter-bold-864-size);
  color: var(--wwwsaramincokr-tundora);
  display: flex;
  align-items: center;
  width: 40px;
  height: 17px;
}
.div1892 {
  width: 100%;
  position: relative;
  height: 3119px;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--wwwsaramincokr-comet);
  font-family: var(--wwwsaramincokr-inter-bold-752);
}
