.rectangle245 {
  position: absolute;
  height: 65.62%;
  width: 100%;
  top: 34.38%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--new-fill-d9d9d9);
}
.fax-00-0000-00002,
.o2b2o2b2cokr2 {
  position: absolute;
  height: 37.51%;
  top: 46.86%;
  font-size: var(--font-size-4xl);
  white-space: pre-wrap;
  text-align: center;
  justify-content: center;
}
.fax-00-0000-00002 {
  width: 19.72%;
  left: 78.34%;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.o2b2o2b2cokr2 {
  width: 21.48%;
  left: 54.22%;
}
.div512,
.div513,
.div514,
.o2b2o2b2cokr2 {
  line-height: 24px;
  display: flex;
  align-items: center;
}
.div512 {
  position: absolute;
  height: 37.51%;
  width: 48.94%;
  top: 46.86%;
  left: 1.76%;
  font-size: var(--font-size-2xl);
  text-align: center;
  justify-content: center;
}
.div513,
.div514 {
  height: 23.43%;
  top: 0;
  font-size: var(--inter-regular-size);
}
.div513 {
  position: absolute;
  width: 4.05%;
  left: 80.98%;
  letter-spacing: -1px;
}
.div514 {
  width: 4.75%;
  left: 73.06%;
}
.api2,
.div514,
.div515 {
  position: absolute;
}
.api2 {
  height: 23.43%;
  width: 6.87%;
  top: 0;
  left: 62.85%;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.div515 {
  width: 10.21%;
  left: 49.29%;
}
.div515,
.div516,
.div517,
.div518 {
  height: 23.43%;
  top: 0;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.div516 {
  position: absolute;
  width: 9.33%;
  left: 37.15%;
  font-weight: 100;
}
.div517,
.div518 {
  width: 4.75%;
}
.div517 {
  position: absolute;
  left: 29.58%;
}
.div518 {
  left: 22.18%;
}
.div511,
.div518,
.div519 {
  position: absolute;
}
.div519 {
  height: 23.43%;
  width: 4.93%;
  top: 0;
  left: 14.61%;
  font-size: var(--inter-regular-size);
  line-height: 24px;
  display: flex;
  align-items: center;
}
.div511 {
  top: 3927px;
  left: 0;
  width: 1260px;
  height: 169px;
  font-size: var(--font-size-smi);
  color: var(--wwwsaramincokr-comet);
}
.image-icon19 {
  position: absolute;
  height: 0.78%;
  top: 71.61%;
  right: 932px;
  bottom: 27.61%;
  max-height: 100%;
  width: 32px;
  object-fit: cover;
}
.b101,
.b102 {
  position: absolute;
  top: 2931px;
  left: 106px;
  letter-spacing: -1.5px;
  line-height: 34px;
  display: flex;
  align-items: center;
  width: 190px;
  height: 34px;
}
.b102 {
  top: 1882px;
  left: 102px;
  width: 271px;
}
.image-icon20 {
  position: absolute;
  height: 0.78%;
  top: 46%;
  right: 991px;
  bottom: 53.22%;
  max-height: 100%;
  width: 32px;
  object-fit: cover;
}
.b103 {
  position: absolute;
  top: 694px;
  left: 102px;
  font-size: 23.4px;
  letter-spacing: -1.5px;
  line-height: 34px;
  display: flex;
  align-items: center;
  width: 255px;
  height: 34px;
}
.image-icon21 {
  position: absolute;
  top: 22px;
  right: 16px;
  width: 11px;
  height: 6px;
  object-fit: cover;
}
.b104 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -1px;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 89px;
  height: 20px;
}
.frame238,
.image-icon22 {
  position: absolute;
  top: 12px;
  height: 20px;
}
.frame238 {
  left: 46px;
  width: 143px;
  overflow: hidden;
}
.image-icon22 {
  left: 13px;
  width: 16px;
  object-fit: cover;
}
.frame237 {
  width: 568px;
  position: relative;
  border: 1px solid var(--wwwsaramincokr-tundora);
  box-sizing: border-box;
  height: 46px;
}
.image-icon24 {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 20px;
  height: 18px;
  object-fit: cover;
}
.div520,
.frame240 {
  position: absolute;
  height: 20px;
}
.div520 {
  top: -1px;
  left: 0;
  letter-spacing: -1px;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 76px;
}
.frame240 {
  top: 15px;
  left: 46px;
  width: 151px;
  overflow: hidden;
}
.frame239 {
  width: 564px;
  position: relative;
  border: 1px solid var(--color-gainsboro-800);
  box-sizing: border-box;
  height: 46px;
  color: var(--wwwsaramincokr-dove-gray);
}
.auto-layout-horizontal124 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.span {
  color: var(--color-gray-600);
}
.txt {
  width: 100%;
}
.div521,
.div522,
.div523,
.div524,
.div525,
.div526,
.div527 {
  width: 111px;
  position: relative;
  letter-spacing: -1px;
  line-height: 30px;
  display: flex;
  align-items: center;
  height: 20px;
  flex-shrink: 0;
}
.div522,
.div523,
.div524,
.div525,
.div526,
.div527 {
  width: 74px;
  height: 17px;
}
.div523,
.div524,
.div525,
.div526,
.div527 {
  width: 97px;
  height: 15px;
}
.div524,
.div525,
.div526,
.div527 {
  width: 77px;
}
.div525,
.div526,
.div527 {
  width: 74px;
}
.div526,
.div527 {
  width: 80px;
}
.div527 {
  width: 104px;
}
.auto-layout-vertical439 {
  position: absolute;
  top: 10px;
  left: 17px;
  height: 203px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-6xs);
}
.auto-layout-vertical440 {
  width: 81px;
  height: 199px;
  overflow: hidden;
  flex-shrink: 0;
}
.div529,
.div530,
.div531,
.div532,
.div533 {
  width: 96px;
  position: relative;
  letter-spacing: -1px;
  line-height: 30px;
  display: flex;
  align-items: center;
  height: 15px;
  flex-shrink: 0;
}
.div530,
.div531,
.div532,
.div533 {
  width: 92px;
}
.div531,
.div532,
.div533 {
  width: 82px;
}
.div532,
.div533 {
  width: 86px;
}
.div533 {
  width: 79px;
}
.auto-layout-vertical441 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: var(--gap-xs);
}
.auto-layout-horizontal125,
.auto-layout-horizontal126 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.auto-layout-horizontal125 {
  position: absolute;
  top: 11px;
  left: 8px;
  padding: 0 var(--padding-11xs);
  gap: 51px;
}
.b105,
.frame243 {
  position: absolute;
}
.frame243 {
  height: 100%;
  width: calc(100% - 810px);
  top: 0;
  right: 810px;
  bottom: 0;
  left: 0;
  border: 1px solid var(--wwwsaramincokr-black);
  box-sizing: border-box;
  overflow: hidden;
}
.b105 {
  top: -1px;
  left: 18px;
  letter-spacing: -1px;
  line-height: 22px;
  display: flex;
  align-items: center;
  width: 63px;
  height: 22px;
}
.frame245 {
  width: calc(100% - 718px);
  top: 9px;
  right: 692px;
  left: 26px;
  overflow: hidden;
  background-image: url(./public/frame@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.div536,
.frame245,
.frame246 {
  position: absolute;
  height: 22px;
}
.div536 {
  top: -1px;
  left: 9px;
  letter-spacing: -1px;
  line-height: 22px;
  display: flex;
  align-items: center;
  width: 105px;
}
.frame246 {
  width: calc(100% - 658px);
  top: 9px;
  right: 310px;
  left: 348px;
  overflow: hidden;
  background-image: url(./public/frame1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.div537 {
  top: -1px;
  left: 8px;
  letter-spacing: -1px;
  line-height: 22px;
  display: flex;
  align-items: center;
  width: 95px;
}
.div537,
.div538,
.frame247 {
  position: absolute;
  height: 22px;
}
.frame247 {
  width: calc(100% - 653px);
  top: 9px;
  right: -9px;
  left: 662px;
  overflow: hidden;
  background-image: url(./public/frame2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.div538 {
  top: 0;
  left: 14px;
  letter-spacing: -1px;
  line-height: 22px;
  display: flex;
  align-items: center;
  width: 115px;
}
.frame248 {
  width: calc(100% - 650px);
  top: 41px;
  right: 620px;
  left: 30px;
  overflow: hidden;
  background-image: url(./public/frame3@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.div539,
.frame248,
.frame249,
.frame250 {
  position: absolute;
  height: 22px;
}
.div539 {
  top: 0;
  left: 0;
  letter-spacing: -1px;
  line-height: 22px;
  display: flex;
  align-items: center;
  width: 107px;
}
.frame249,
.frame250 {
  width: calc(100% - 658px);
  top: 41px;
  right: 301px;
  left: 357px;
  overflow: hidden;
  background-image: url(./public/frame1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.frame250 {
  width: calc(100% - 613px);
  right: -49px;
  left: 662px;
  background-image: url(./public/frame4@3x.png);
}
.div541 {
  top: -1px;
  left: 0;
  letter-spacing: -1px;
  line-height: 22px;
  display: flex;
  align-items: center;
  width: 110px;
}
.div541,
.div542,
.frame251 {
  position: absolute;
  height: 22px;
}
.frame251 {
  width: calc(100% - 635px);
  top: 73px;
  right: 591px;
  left: 44px;
  overflow: hidden;
  background-image: url(./public/frame5@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.div542 {
  top: 0;
  left: 9px;
  letter-spacing: -1px;
  line-height: 22px;
  display: flex;
  align-items: center;
  width: 100px;
}
.frame252 {
  width: calc(100% - 658px);
  top: 73px;
  right: 310px;
  left: 348px;
  overflow: hidden;
  background-image: url(./public/frame1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.div543,
.frame252,
.frame253 {
  position: absolute;
  height: 22px;
}
.div543 {
  top: -1px;
  left: 8px;
  letter-spacing: -1px;
  line-height: 22px;
  display: flex;
  align-items: center;
  width: 111px;
}
.frame253 {
  width: calc(100% - 632px);
  top: 73px;
  right: -30px;
  left: 662px;
  overflow: hidden;
  background-image: url(./public/frame6@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.div544 {
  top: 0;
  left: 8px;
  letter-spacing: -1px;
  line-height: 22px;
  display: flex;
  align-items: center;
  width: 96px;
}
.div544,
.div545,
.frame254 {
  position: absolute;
  height: 22px;
}
.frame254 {
  width: calc(100% - 610px);
  top: 105px;
  right: 574px;
  left: 36px;
  overflow: hidden;
  background-image: url(./public/frame7@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.div545 {
  top: 0;
  left: 9px;
  letter-spacing: -1px;
  line-height: 22px;
  display: flex;
  align-items: center;
  width: 86px;
}
.frame255 {
  width: calc(100% - 658px);
  top: 105px;
  right: 310px;
  left: 348px;
  overflow: hidden;
  background-image: url(./public/frame1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.div546,
.frame255,
.frame256 {
  position: absolute;
  height: 22px;
}
.div546 {
  top: 0;
  left: 8px;
  letter-spacing: -1px;
  line-height: 22px;
  display: flex;
  align-items: center;
  width: 111px;
}
.frame256 {
  width: calc(100% - 658px);
  top: 105px;
  right: -4px;
  left: 662px;
  overflow: hidden;
  background-image: url(./public/frame1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.div547 {
  top: 0;
  left: 8px;
  letter-spacing: -1px;
  line-height: 22px;
  display: flex;
  align-items: center;
  width: 90px;
}
.div547,
.div548,
.frame257 {
  position: absolute;
  height: 22px;
}
.frame257 {
  width: calc(100% - 656px);
  top: 137px;
  right: 620px;
  left: 36px;
  overflow: hidden;
  background-image: url(./public/frame8@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.div548 {
  top: -1px;
  left: 9px;
  letter-spacing: -1px;
  line-height: 22px;
  display: flex;
  align-items: center;
  width: 89px;
}
.frame258 {
  width: calc(100% - 633px);
  top: 137px;
  right: 285px;
  left: 348px;
  overflow: hidden;
  background-image: url(./public/frame9@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.div549,
.frame258,
.frame259 {
  position: absolute;
  height: 22px;
}
.div549 {
  top: -1px;
  left: 8px;
  letter-spacing: -1px;
  line-height: 22px;
  display: flex;
  align-items: center;
  width: 100px;
}
.frame259 {
  width: calc(100% - 658px);
  top: 137px;
  right: -4px;
  left: 662px;
  overflow: hidden;
  background-image: url(./public/frame1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.div550 {
  top: 0;
  left: 0;
  letter-spacing: -1px;
  line-height: 22px;
  display: flex;
  align-items: center;
  width: 102px;
}
.div550,
.div551,
.frame260 {
  position: absolute;
  height: 22px;
}
.frame260 {
  width: calc(100% - 643px);
  top: 169px;
  right: 599px;
  left: 44px;
  overflow: hidden;
  background-image: url(./public/frame10@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.div551 {
  top: -1px;
  left: 15px;
  letter-spacing: -1px;
  line-height: 22px;
  display: flex;
  align-items: center;
  width: 78px;
}
.frame261 {
  width: calc(100% - 643px);
  top: 169px;
  right: 301px;
  left: 342px;
  overflow: hidden;
  background-image: url(./public/frame10@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.div552,
.frame261,
.frame262 {
  position: absolute;
  height: 22px;
}
.div552 {
  top: 0;
  left: 8px;
  letter-spacing: -1px;
  line-height: 22px;
  display: flex;
  align-items: center;
  width: 115px;
}
.frame262 {
  width: calc(100% - 632px);
  top: 169px;
  right: -30px;
  left: 662px;
  overflow: hidden;
  background-image: url(./public/frame6@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.div553 {
  top: 0;
  left: 0;
  letter-spacing: -1px;
  line-height: 22px;
  display: flex;
  align-items: center;
  width: 87px;
}
.div553,
.div554,
.frame263 {
  position: absolute;
  height: 22px;
}
.frame263 {
  width: calc(100% - 664px);
  top: 201px;
  right: 620px;
  left: 44px;
  overflow: hidden;
  background-image: url(./public/frame11@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.div554 {
  top: -1px;
  left: 15px;
  letter-spacing: -1px;
  line-height: 22px;
  display: flex;
  align-items: center;
  width: 79px;
}
.auto-layout-vertical442 {
  position: absolute;
  top: -193px;
  left: 8px;
  width: 110px;
  height: 212px;
  overflow: hidden;
}
.div555,
.frame264 {
  position: absolute;
  height: 22px;
}
.frame264 {
  width: calc(100% - 638px);
  top: 201px;
  right: 296px;
  left: 342px;
  overflow: hidden;
  background-image: url(./public/frame12@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.div555 {
  top: -1px;
  left: 8px;
  letter-spacing: -1px;
  line-height: 22px;
  display: flex;
  align-items: center;
  width: 120px;
}
.auto-layout-vertical443 {
  position: absolute;
  top: -192px;
  left: 8px;
  width: 101px;
  height: 213px;
  overflow: hidden;
}
.frame265,
.rectangle246 {
  position: absolute;
  right: 0;
}
.frame265 {
  width: calc(100% - 662px);
  top: 201px;
  left: 662px;
  height: 22px;
  overflow: hidden;
  background-image: url(./public/frame13@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.rectangle246 {
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-8xs);
  border: 2px solid var(--wwwsaramincokr-black);
  box-sizing: border-box;
}
.property-1off {
  width: 20px;
  position: relative;
  height: 20px;
  z-index: 0;
}
.property-1off1,
.property-1off2,
.property-1off3 {
  width: 20px;
  position: relative;
  height: 20px;
  z-index: 1;
}
.property-1off2,
.property-1off3 {
  z-index: 2;
}
.property-1off3 {
  z-index: 3;
}
.property-1off4,
.property-1off5,
.property-1off6 {
  width: 20px;
  position: relative;
  height: 20px;
  z-index: 4;
}
.property-1off5,
.property-1off6 {
  z-index: 5;
}
.property-1off6 {
  z-index: 6;
}
.rectangle253,
.rectangle254,
.rectangle255,
.rectangle256,
.rectangle257,
.rectangle258 {
  width: 1px;
  position: absolute;
  margin: 0 !important;
  top: 38px;
  left: 14px;
  border-radius: var(--br-10xs-5);
  background-color: var(--color-white);
  border: 1px solid var(--new-stroke-style);
  box-sizing: border-box;
  height: 1px;
  z-index: 7;
}
.rectangle254,
.rectangle255,
.rectangle256,
.rectangle257,
.rectangle258 {
  top: 70px;
  z-index: 8;
}
.rectangle255,
.rectangle256,
.rectangle257,
.rectangle258 {
  top: 102px;
  z-index: 9;
}
.rectangle256,
.rectangle257,
.rectangle258 {
  top: 134px;
  z-index: 10;
}
.rectangle257,
.rectangle258 {
  top: 166px;
  z-index: 11;
}
.rectangle258 {
  top: 198px;
  z-index: 12;
}
.auto-layout-vertical444 {
  position: absolute;
  top: 3px;
  left: 1px;
  height: 226px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-6xs) var(--padding-7xs);
  box-sizing: border-box;
}
.auto-layout-vertical445 {
  position: absolute;
  top: 8px;
  left: 35px;
  width: 99px;
  height: 215px;
  overflow: hidden;
}
.rectangle259 {
  width: 1px;
  position: relative;
  border-radius: var(--br-10xs-5);
  background-color: var(--color-white);
  border: 1px solid var(--new-stroke-style);
  box-sizing: border-box;
  height: 1px;
}
.property-1off7 {
  width: 20px;
  position: relative;
  height: 20px;
}
.auto-layout-horizontal127,
.auto-layout-horizontal128 {
  position: absolute;
  top: 5px;
  left: 308px;
  width: 38px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-5xs);
  box-sizing: border-box;
  gap: 5px;
}
.auto-layout-horizontal128 {
  top: 4px;
  left: 640px;
  width: 26px;
  padding: var(--padding-8xs) var(--padding-12xs);
  gap: 12px 3px;
}
.frame244 {
  position: absolute;
  width: calc(100% - 319px);
  top: 1px;
  right: 0;
  left: 319px;
  height: 229px;
  color: var(--wwwsaramincokr-tundora);
}
.frame242 {
  position: absolute;
  width: calc(100% - 2px);
  top: 66px;
  right: 1px;
  left: 1px;
  border-top: 1px solid #e5e5e5;
  box-sizing: border-box;
  height: 228px;
}
.div556,
.frame267 {
  position: absolute;
  height: 15px;
}
.div556 {
  top: 0;
  left: 0;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  width: 375px;
}
.frame267 {
  width: calc(100% - 76px);
  top: 12px;
  right: 41px;
  left: 35px;
  overflow: hidden;
}
.image-icon25 {
  position: absolute;
  top: 15px;
  left: 16px;
  width: 13px;
  height: 13px;
  object-fit: cover;
}
.frame241,
.frame266 {
  box-sizing: border-box;
}
.frame266 {
  position: absolute;
  top: 13px;
  left: 16px;
  border: 1px solid var(--color-gainsboro-900);
  width: 464px;
  height: 40px;
  color: var(--color-gray-200);
}
.frame241 {
  width: 1131px;
  position: relative;
  border: 1px solid var(--wwwsaramincokr-tundora);
  height: 294px;
  font-size: var(--font-size-smi);
}
.auto-layout-vertical438 {
  position: absolute;
  top: 316px;
  left: 66px;
  border: 1px solid var(--wwwsaramincokr-black);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: var(--font-size-mini);
  color: var(--wwwsaramincokr-mine-shaft);
}
.p17 {
  margin: 0;
}
.div557,
.frame-icon34 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.div557 {
  width: 49px;
  line-height: 24px;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.frame-icon34 {
  width: 24px;
  height: 24px;
}
.auto-layout-horizontal129,
.auto-layout-horizontal130 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.auto-layout-horizontal130 {
  width: 105px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-600);
  box-sizing: border-box;
  height: 24px;
  align-items: center;
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-base);
}
.auto-layout-horizontal129 {
  position: absolute;
  top: 285px;
  left: 67px;
  align-items: flex-start;
  gap: var(--gap-xs);
  text-align: center;
  font-size: var(--font-size-2xs);
  color: var(--color-gray-700);
}
.b106,
.frame269 {
  position: absolute;
}
.b106 {
  top: 0;
  left: calc(50% - 22px);
  letter-spacing: -1px;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 28px;
}
.frame269 {
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--new-fill-475067);
  height: 3px;
  overflow: hidden;
}
.frame268 {
  width: 74px;
  position: relative;
  background-color: var(--color-white);
  height: 28px;
}
.b107 {
  position: absolute;
  top: 0;
  left: calc(50% - 27px);
  letter-spacing: -1px;
  line-height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 28px;
}
.frame270 {
  width: 76px;
  position: relative;
  background-color: var(--color-white);
  height: 28px;
  color: var(--color-slategray-100);
}
.auto-layout-horizontal132 {
  position: absolute;
  top: 222px;
  left: 59px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
  text-align: center;
  font-size: var(--body-text-size);
  color: var(--new-fill-475067);
}
.div562 {
  top: 0;
  left: 0;
  letter-spacing: -1px;
  font-weight: 100;
  background: linear-gradient(#4876ef, #4876ef), #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.div561,
.div562,
.div564 {
  position: absolute;
}
.div561 {
  top: 7px;
  left: 16px;
  width: 52px;
  height: 24px;
  display: none;
}
.div564 {
  top: 0;
  left: 0;
  letter-spacing: -1px;
  font-weight: 100;
}
.div563,
.div565,
.div567,
.div569 {
  position: absolute;
  top: 7px;
  left: 89px;
  width: 86px;
  height: 24px;
  display: none;
}
.div565,
.div567,
.div569 {
  left: 196px;
  width: 52px;
}
.div567,
.div569 {
  left: 269px;
  width: 69px;
}
.div569 {
  left: 359px;
}
.div560 {
  width: 771px;
  position: relative;
  border-radius: var(--br-base);
  border: 1px solid var(--wwwsaramincokr-black);
  box-sizing: border-box;
  height: 46px;
  z-index: 0;
  color: var(--color-royalblue-400);
}
.div571,
.div572 {
  position: absolute;
  left: 0;
}
.div572 {
  top: 3.44%;
  letter-spacing: -1px;
  font-weight: 100;
}
.div571 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.property-1default5 {
  width: 8.95%;
  position: absolute;
  margin: 0 !important;
  height: 63.26%;
  top: 17.39%;
  right: 46.43%;
  bottom: 19.35%;
  left: 44.62%;
  cursor: pointer;
  z-index: 1;
}
.div573,
.property-1default6 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
.property-1default6 {
  width: 8.95%;
  margin: 0 !important;
  height: 63.26%;
  top: 17.39%;
  right: 57.33%;
  bottom: 19.35%;
  left: 33.72%;
  z-index: 2;
}
.property-1default7 {
  width: 6.74%;
  margin: 0 !important;
  height: 63.26%;
  top: 19.57%;
  right: 68.22%;
  bottom: 17.17%;
  left: 25.03%;
  z-index: 3;
}
.div578,
.property-1default7,
.property-1default8 {
  position: absolute;
  cursor: pointer;
}
.div578 {
  top: 3.44%;
  left: 0;
  letter-spacing: -1px;
  font-weight: 100;
}
.property-1default8 {
  width: 11.15%;
  margin: 0 !important;
  height: 63.26%;
  top: 17.39%;
  right: 76.91%;
  bottom: 19.35%;
  left: 11.93%;
  z-index: 4;
}
.div580 {
  position: absolute;
  top: 3.44%;
  left: 19.77%;
  letter-spacing: -1px;
  font-weight: 100;
}
.property-1default9 {
  width: 11.15%;
  position: absolute;
  margin: 0 !important;
  height: 63.26%;
  top: 19.57%;
  right: 87.55%;
  bottom: 17.17%;
  left: 1.3%;
  cursor: pointer;
  z-index: 5;
}
.b108,
.div559 {
  position: absolute;
  display: flex;
}
.div559 {
  top: 58px;
  left: 213px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  text-align: center;
  font-size: var(--font-size-lgi-5);
  color: var(--wwwsaramincokr-black);
}
.b108 {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  letter-spacing: -1px;
  align-items: center;
  justify-content: center;
}
.div582 {
  width: 42px;
  position: relative;
  height: 42px;
  cursor: pointer;
}
.b109 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -1px;
}
.div583 {
  width: 65px;
  position: relative;
  height: 43px;
}
.div584 {
  width: 128px;
  cursor: pointer;
}
.div584,
.div585,
.div586,
.match4 {
  position: relative;
  height: 43px;
}
.match4 {
  width: 223px;
  cursor: pointer;
}
.div585,
.div586 {
  width: 145px;
}
.div586 {
  width: 138px;
  cursor: pointer;
}
.search-icon2 {
  width: 258px;
  position: relative;
  border-radius: var(--br-5xs);
  height: 44px;
}
.div581,
.div587 {
  display: flex;
  align-items: center;
}
.div581 {
  width: 1206px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 1px solid var(--wwwsaramincokr-black);
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-3xs);
  gap: var(--gap-lg);
}
.div587 {
  width: 87px;
  position: relative;
  font-size: var(--inter-regular1-size);
  letter-spacing: -4px;
  line-height: 36px;
  color: var(--wwwsaramincokr-tundora);
  text-align: left;
  height: 36px;
  flex-shrink: 0;
}
.auto-layout-vertical446 {
  position: absolute;
  top: 0;
  left: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 97px;
  text-align: center;
  font-size: var(--font-size-16xl-5);
  color: var(--wwwsaramincokr-black);
}
.rectangle287 {
  position: absolute;
  top: 164px;
  left: 27px;
  border-radius: var(--br-9xs);
  background-color: var(--new-fill-d9d9d9);
  border: 1px solid var(--wwwsaramincokr-black);
  box-sizing: border-box;
  width: 71px;
  height: 20px;
}
.d-40,
.div589 {
  position: absolute;
  top: 165px;
  left: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 73px;
  height: 18px;
}
.d-40 {
  top: 163px;
  left: 240px;
  font-size: var(--inder-regular1-size);
  width: 54px;
  height: 23px;
}
.stateoff-icon114 {
  position: absolute;
  top: 160px;
  left: 317px;
  width: 24px;
  height: 24px;
}
.div590,
.frame271 {
  position: absolute;
  height: 20px;
}
.div590 {
  top: 0;
  left: 0;
  letter-spacing: -0.5px;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 86px;
}
.frame271 {
  width: calc(100% - 152px);
  top: 113px;
  right: 125px;
  left: 27px;
  overflow: hidden;
  text-align: left;
  color: var(--new-fill-475067);
  font-family: var(--wwwsaramincokr-inter-bold-752);
}
.div591 {
  position: absolute;
  top: 5px;
  left: 5px;
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 600;
  display: inline-block;
  width: 100px;
  height: 15px;
}
.frame272,
.rectangle288 {
  position: absolute;
  left: 27px;
}
.frame272 {
  width: calc(100% - 50px);
  top: 75px;
  right: 23px;
  height: 24px;
  overflow: hidden;
  text-align: left;
  font-size: var(--inder-regular1-size);
  font-family: var(--wwwsaramincokr-inter-bold-752);
}
.rectangle288 {
  top: 20px;
  border: 1px solid var(--wwwsaramincokr-black);
  box-sizing: border-box;
  width: 192px;
  height: 49px;
}
.div592 {
  position: absolute;
  top: 32px;
  left: 87px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 73px;
  height: 24px;
}
.div588 {
  width: 352px;
  position: relative;
  border-radius: var(--br-base);
  border: 1px solid var(--wwwsaramincokr-black);
  box-sizing: border-box;
  height: 198px;
}
.auto-layout-horizontal133 {
  width: 1070px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 25px 7px;
}
.stateoff-icon129 {
  position: absolute;
  top: 174px;
  left: 196px;
  width: 24px;
  height: 24px;
}
.frame301 {
  position: absolute;
  width: calc(100% - 36px);
  top: 148px;
  right: 6px;
  left: 30px;
  height: 20px;
  overflow: hidden;
  text-align: left;
  color: var(--new-fill-475067);
}
.div665 {
  position: absolute;
  top: 0;
  left: 6px;
  letter-spacing: -0.5px;
  display: flex;
  align-items: center;
  width: 11px;
  height: 14px;
}
.rectangle317 {
  position: absolute;
  left: 0;
  border-radius: var(--br-12xs);
  background-color: var(--wwwsaramincokr-geyser);
  width: 2px;
  height: 0;
}
.image-icon26 {
  position: absolute;
  left: 20.6px;
  width: 5px;
  height: 10px;
  object-fit: cover;
}
.frame302 {
  position: absolute;
  top: 129px;
  left: 101.6px;
  width: 25.6px;
  height: 0;
  overflow: hidden;
  text-align: left;
  font-size: var(--inter-regular2-size);
  color: var(--new-fill-475067);
}
.rectangle318 {
  position: absolute;
  top: 123px;
  left: 90px;
  border-radius: var(--br-9xs);
  background-color: var(--new-fill-d9d9d9);
  border: 1px solid var(--wwwsaramincokr-black);
  box-sizing: border-box;
  width: 71px;
  height: 20px;
}
.d-55,
.div666 {
  position: absolute;
  top: 125px;
  left: 88px;
  font-family: var(--inder-regular);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 73px;
  height: 18px;
}
.d-55 {
  top: 120px;
  left: 25px;
  font-size: var(--inder-regular1-size);
  width: 54px;
  height: 23px;
}
.ellipse23 {
  position: absolute;
  bottom: 113px;
  left: 20px;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1px solid var(--wwwsaramincokr-black);
  box-sizing: border-box;
  width: 89px;
  height: 80px;
}
.div667 {
  position: absolute;
  top: 29px;
  left: 29px;
  font-size: var(--inter-regular1-size);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 71px;
  height: 68px;
}
.div663 {
  width: 236px;
  position: relative;
  border-radius: var(--br-base);
  border: 1px solid var(--wwwsaramincokr-black);
  box-sizing: border-box;
  height: 216px;
}
.auto-layout-horizontal134 {
  width: 1049px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 15px 35px;
  font-family: var(--wwwsaramincokr-inter-bold-752);
}
.d-71 {
  position: absolute;
  top: 110px;
  left: 386px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 94px;
  height: 33px;
}
.rectangle349,
.stateoff-icon145 {
  position: absolute;
  top: 111px;
  left: 463px;
  width: 24px;
  height: 24px;
}
.rectangle349 {
  height: 71.11%;
  top: 14.44%;
  bottom: 14.44%;
  left: 0;
  background-color: var(--wwwsaramincokr-geyser);
  width: 1px;
}
.frame333 {
  position: absolute;
  height: calc(100% - 134px);
  top: 77px;
  bottom: 57px;
  left: 210.5px;
  width: 24.4px;
  overflow: hidden;
}
.rectangle350 {
  position: absolute;
  top: 26px;
  left: 27px;
  border: 1px solid var(--wwwsaramincokr-black);
  box-sizing: border-box;
  width: 122px;
  height: 89px;
}
.div744 {
  position: absolute;
  top: 64px;
  left: 53px;
  font-size: var(--inter-regular-size);
}
.div745,
.div746 {
  position: absolute;
  left: 171px;
  font-family: var(--wwwsaramincokr-inter-bold-752);
}
.div745 {
  top: 48px;
  font-size: var(--inter-regular-size);
  letter-spacing: -0.5px;
  line-height: 20px;
}
.div746 {
  top: 26px;
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 600;
  display: inline-block;
  width: 100px;
  height: 15px;
}
.div743 {
  width: 496px;
  position: relative;
  border-radius: var(--br-base);
  border: 1px solid var(--wwwsaramincokr-black);
  box-sizing: border-box;
  height: 143px;
}
.auto-layout-horizontal135 {
  width: 1042px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 31px 50px;
  text-align: left;
  font-size: var(--inder-regular1-size);
}
.auto-layout-vertical447 {
  position: absolute;
  top: 754px;
  left: 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 122px;
  text-align: center;
  font-size: var(--inter-regular-size);
  color: var(--wwwsaramincokr-black);
  font-family: var(--inder-regular);
}
.div510 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 4096px;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--wwwsaramincokr-ebony-clay);
  font-family: var(--wwwsaramincokr-inter-bold-752);
}
