.image-icon212,
.rectangle610 {
  position: absolute;
  top: calc(50% + 25px);
}
.rectangle610 {
  left: 823px;
  background-color: var(--color-gainsboro-800);
  width: 1px;
  height: 14px;
}
.image-icon212 {
  left: 782px;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.txt67 {
  width: 100%;
}
.div2154 {
  position: absolute;
  top: 109px;
  left: calc(50% - 330px);
  letter-spacing: -1px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 149px;
  height: 24px;
}
.image-icon213,
.image-icon214,
.image-icon215,
.image-icon216,
.image-icon217 {
  position: absolute;
  top: calc(50% + 22px);
  left: calc(50% + 118px);
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.image-icon214,
.image-icon215,
.image-icon216,
.image-icon217 {
  left: calc(50% + 86px);
}
.image-icon215,
.image-icon216,
.image-icon217 {
  left: calc(50% + 54px);
}
.image-icon216,
.image-icon217 {
  left: calc(50% + 22px);
}
.image-icon217 {
  left: calc(50% - 10px);
}
.div2155 {
  position: absolute;
  top: 107px;
  left: calc(50% - 106px);
  letter-spacing: -1px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 84px;
  height: 24px;
}
.rectangle611,
.rectangle612 {
  position: absolute;
  top: calc(50% - 9px);
  left: 1029px;
  background-color: var(--color-gainsboro-800);
  width: 2px;
  height: 14px;
}
.rectangle612 {
  left: 779px;
  width: 1px;
}
.div2156,
.div2157,
.fax4 {
  position: absolute;
  top: 73px;
  left: calc(50% + 124px);
  letter-spacing: -1px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 107px;
  height: 24px;
}
.div2157,
.fax4 {
  left: calc(50% + 83px);
  width: 34px;
}
.div2157 {
  left: calc(50% - 154px);
  width: 43px;
}
.div2158,
.helpsaramincokr4 {
  top: 72px;
  justify-content: center;
}
.helpsaramincokr4 {
  position: absolute;
  left: calc(50% - 105px);
  letter-spacing: -1px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 151px;
  height: 24px;
}
.div2158 {
  left: calc(50% - 479px);
  width: 284px;
}
.api11,
.b479,
.div2158,
.div2159,
.div2160,
.div2161,
.div2162,
.div2163,
.div2164,
.div2165 {
  position: absolute;
  letter-spacing: -1px;
  line-height: 24px;
  display: flex;
  align-items: center;
  height: 24px;
}
.div2159 {
  top: 72px;
  left: calc(50% - 569px);
  justify-content: center;
  width: 83px;
}
.api11,
.b479,
.div2160,
.div2161,
.div2162,
.div2163,
.div2164,
.div2165 {
  top: 26px;
  left: 1251px;
  font-size: var(--inder-regular1-size);
  text-align: left;
  width: 61px;
}
.api11,
.b479,
.div2161,
.div2162,
.div2163,
.div2164,
.div2165 {
  left: 1177px;
  width: 56px;
}
.api11,
.b479,
.div2162,
.div2163,
.div2164,
.div2165 {
  left: 1067px;
  width: 87px;
}
.b479,
.div2162,
.div2163,
.div2164,
.div2165 {
  left: 920px;
  width: 131px;
}
.b479,
.div2163,
.div2164,
.div2165 {
  left: 789px;
  width: 111px;
}
.div2163,
.div2164,
.div2165 {
  left: 707px;
  width: 56px;
}
.div2164,
.div2165 {
  left: 625px;
  width: 58px;
}
.div2165 {
  left: 528px;
  width: 59px;
}
.frame1682 {
  position: absolute;
  width: 100%;
  top: 5493px;
  right: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  border-top: 1px solid var(--wwwsaramincokr-geyser);
  border-bottom: 1px solid var(--wwwsaramincokr-geyser);
  box-sizing: border-box;
  height: 172px;
  text-align: center;
  color: var(--wwwsaramincokr-comet);
}
.frame-icon136 {
  position: absolute;
  top: 5319px;
  left: 596px;
  width: 729px;
  height: 90px;
  overflow: hidden;
  object-fit: cover;
}
.div2166,
.frame1685 {
  position: absolute;
  height: 23px;
}
.div2166 {
  top: 1px;
  left: 0;
  letter-spacing: -2px;
  line-height: 23px;
  display: flex;
  align-items: center;
  width: 92px;
}
.frame1685 {
  width: calc(100% - 414px);
  top: 98px;
  right: 330px;
  left: 84px;
  overflow: hidden;
}
.div2167 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -2.5px;
  line-height: 28px;
  display: flex;
  align-items: center;
  width: 171px;
  height: 28px;
}
.div2168,
.frame1686 {
  position: absolute;
  top: 60px;
}
.frame1686 {
  width: calc(100% - 414px);
  right: 330px;
  left: 84px;
  height: 28px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
}
.div2168 {
  left: 43px;
  font-size: 15.2px;
  letter-spacing: -1px;
  line-height: 22px;
  display: flex;
  align-items: center;
  width: 18px;
  height: 22px;
}
.frame-icon137 {
  position: absolute;
  top: 25px;
  right: 48px;
  width: 129px;
  height: 129px;
  overflow: hidden;
  object-fit: cover;
}
.div2169,
.frame1687 {
  position: absolute;
  top: 0;
  left: 0;
}
.div2169 {
  display: flex;
  align-items: center;
  width: 6px;
  height: 17px;
}
.frame1687 {
  width: 1px;
  height: 1px;
  overflow: hidden;
  font-size: var(--wwwsaramincokr-inter-regular-8-size);
  color: var(--wwwsaramincokr-tundora);
}
.frame1684 {
  position: absolute;
  width: calc(100% - 960px);
  top: 3868px;
  right: 480px;
  left: 480px;
  background-color: var(--color-white);
  height: 175px;
  text-align: left;
  font-size: var(--font-size-smi);
}
.div2170,
.div2171,
.div2172 {
  position: absolute;
  top: 1px;
  left: 0;
  letter-spacing: -2px;
  line-height: 23px;
  display: flex;
  align-items: center;
  width: 193px;
  height: 23px;
}
.div2171,
.div2172 {
  top: 0;
  letter-spacing: -2.5px;
  line-height: 28px;
  width: 186px;
  height: 28px;
}
.div2172 {
  top: 60px;
  left: 43px;
  font-size: 15.6px;
  letter-spacing: -1px;
  line-height: 22px;
  width: 18px;
  height: 22px;
}
.frame1688 {
  position: absolute;
  width: calc(100% - 960px);
  top: 3693px;
  right: 480px;
  left: 480px;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-whitesmoke-600);
  box-sizing: border-box;
  height: 175px;
  text-align: left;
  font-size: var(--font-size-smi);
}
.div2174,
.div2175,
.div2176 {
  position: absolute;
  top: 1px;
  left: 0;
  letter-spacing: -2px;
  line-height: 23px;
  display: flex;
  align-items: center;
  width: 105px;
  height: 23px;
}
.div2175,
.div2176 {
  top: 0;
  letter-spacing: -2.5px;
  line-height: 28px;
  width: 121px;
  height: 28px;
}
.div2176 {
  top: 60px;
  left: 43px;
  font-size: 17.6px;
  letter-spacing: -1px;
  line-height: 22px;
  width: 18px;
  height: 22px;
}
.frame1692 {
  position: absolute;
  width: calc(100% - 960px);
  top: 3518px;
  right: 480px;
  left: 480px;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-whitesmoke-600);
  box-sizing: border-box;
  height: 175px;
  text-align: left;
  font-size: var(--font-size-smi);
}
.div2178,
.div2179 {
  position: absolute;
  display: flex;
  align-items: center;
}
.div2178 {
  top: 3470px;
  left: 480px;
  font-size: var(--font-size-5xl);
  letter-spacing: -3px;
  line-height: 36px;
  color: var(--wwwsaramincokr-tundora);
  text-align: left;
  width: 265px;
  height: 36px;
}
.div2179 {
  top: 1px;
  left: calc(50% - 7px);
  letter-spacing: -1px;
  line-height: 30px;
  justify-content: center;
  width: 14px;
  height: 30px;
}
.frame1696 {
  position: absolute;
  top: calc(50% + 1269.5px);
  left: calc(50% + 121px);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-700);
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  font-size: var(--font-size-sm-5);
  color: var(--wwwsaramincokr-tundora);
}
.div2180 {
  position: absolute;
  top: 1px;
  left: calc(50% - 3px);
  letter-spacing: -1px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7px;
  height: 30px;
}
.frame1697,
.frame1698,
.frame1699,
.frame1700,
.frame1701,
.frame1702,
.frame1703,
.frame1704 {
  position: absolute;
  top: calc(50% + 1269.5px);
  left: calc(50% + 84px);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-700);
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  font-size: var(--font-size-sm-7);
  color: var(--wwwsaramincokr-tundora);
}
.frame1698,
.frame1699,
.frame1700,
.frame1701,
.frame1702,
.frame1703,
.frame1704 {
  left: calc(50% + 47px);
}
.frame1699,
.frame1700,
.frame1701,
.frame1702,
.frame1703,
.frame1704 {
  left: calc(50% + 10px);
  font-size: var(--inter-regular-size);
}
.frame1700,
.frame1701,
.frame1702,
.frame1703,
.frame1704 {
  left: calc(50% - 27px);
  font-size: var(--font-size-sm-7);
}
.frame1701,
.frame1702,
.frame1703,
.frame1704 {
  left: calc(50% - 64px);
  font-size: var(--inter-regular-size);
}
.frame1702,
.frame1703,
.frame1704 {
  left: calc(50% - 101px);
  font-size: var(--font-size-smi-9);
}
.frame1703,
.frame1704 {
  left: calc(50% - 138px);
  font-size: var(--font-size-sm-8);
}
.frame1704 {
  left: calc(50% - 175px);
  font-size: var(--inter-regular-size);
}
.b480 {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 3px);
  letter-spacing: -1px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7px;
  height: 30px;
}
.frame1705 {
  position: absolute;
  top: calc(50% + 1269.5px);
  left: calc(50% - 212px);
  background-color: var(--color-white);
  border: 1px solid var(--wwwsaramincokr-tundora);
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  font-size: var(--inter-regular-size);
  color: var(--wwwsaramincokr-tundora);
}
.div2188 {
  position: absolute;
  top: calc(50% - 18px);
  left: calc(50% - 20px);
  letter-spacing: -1px;
  line-height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 33px;
}
.frame1706 {
  position: absolute;
  top: calc(50% + 1267.5px);
  left: calc(50% + 172px);
  width: 40px;
  height: 36px;
  background-image: url(./public/frame@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: var(--inter-regular-size);
  color: var(--wwwsaramincokr-tundora);
}
.frame-icon140,
.frame-icon141,
.frame-icon142 {
  position: absolute;
  overflow: hidden;
  object-fit: cover;
}
.frame-icon140 {
  height: calc(100% - 130.6px);
  width: calc(100% - 856px);
  top: 53.3px;
  right: 809px;
  bottom: 77.3px;
  left: 47px;
  max-width: 100%;
  max-height: 100%;
}
.frame-icon141,
.frame-icon142 {
  top: 70px;
  left: calc(50% + 406px);
  width: 20px;
  height: 17px;
}
.frame-icon142 {
  top: 9px;
  left: calc(50% - 5px);
  width: 10px;
  height: 10px;
}
.div2189 {
  position: absolute;
  top: 0;
  left: calc(50% - 0.5px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6px;
  height: 17px;
}
.frame1708 {
  position: absolute;
  top: 9px;
  left: 15px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.b481,
.frame1707,
.frame1710 {
  position: absolute;
  height: 28px;
}
.frame1707 {
  top: 96px;
  right: 47px;
  border: 1px solid var(--color-gainsboro-200);
  box-sizing: border-box;
  width: 30px;
}
.b481,
.frame1710 {
  top: 0.5px;
}
.b481 {
  left: 0;
  line-height: 28px;
  display: flex;
  align-items: center;
  width: 76px;
}
.frame1710 {
  left: 152px;
  width: 72px;
  overflow: hidden;
  font-size: var(--body-text-size);
}
.div2190 {
  position: absolute;
  top: 1.5px;
  left: calc(50% - 32.5px);
  letter-spacing: -0.5px;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 65px;
  height: 20px;
}
.frame1711 {
  position: absolute;
  top: 4.5px;
  left: 238px;
  border: 1px solid var(--color-tomato-100);
  box-sizing: border-box;
  width: 77px;
  height: 22px;
  color: var(--color-tomato-100);
}
.div2191 {
  position: absolute;
  top: 1.5px;
  left: 0;
  display: flex;
  align-items: center;
  width: 108px;
  height: 15px;
}
.rectangle613 {
  position: absolute;
  top: 5.5px;
  left: 112px;
  background-color: var(--color-gainsboro-1000);
  width: 1px;
  height: 12px;
}
.div2192 {
  position: absolute;
  top: 2.5px;
  left: 126px;
  display: flex;
  align-items: center;
  width: 66px;
  height: 15px;
}
.rectangle614 {
  position: absolute;
  top: 5.5px;
  left: 210px;
  background-color: var(--color-gainsboro-1000);
  width: 1px;
  height: 12px;
}
.div2193 {
  position: absolute;
  top: 2.5px;
  left: 225px;
  display: flex;
  align-items: center;
  width: 109px;
  height: 15px;
}
.frame1712 {
  position: absolute;
  width: calc(100% - 152px);
  top: 30px;
  right: 0;
  left: 152px;
  height: 21px;
  overflow: hidden;
  color: var(--wwwsaramincokr-tundora);
}
.image-icon218 {
  position: absolute;
  top: 6px;
  left: 12px;
  width: 20px;
  height: 17px;
  object-fit: cover;
}
.div2194 {
  position: absolute;
  top: 6.5px;
  left: 37px;
  line-height: 15px;
  display: flex;
  align-items: center;
  width: 110px;
  height: 15px;
}
.frame1714 {
  position: absolute;
  width: calc(100% - 429px);
  top: 0.5px;
  right: 425px;
  left: 4px;
  background-color: var(--color-ghostwhite-100);
  height: 28px;
}
.div2195 {
  position: absolute;
  top: 6.5px;
  left: 37.2px;
  line-height: 15px;
  display: flex;
  align-items: center;
  width: 122px;
  height: 15px;
}
.frame1715 {
  position: absolute;
  width: calc(100% - 432px);
  top: 0.5px;
  right: 260px;
  left: 172px;
  background-color: var(--color-ghostwhite-100);
  height: 28px;
}
.div2196 {
  position: absolute;
  top: 6.5px;
  left: 36.8px;
  line-height: 15px;
  display: flex;
  align-items: center;
  width: 63px;
  height: 15px;
}
.frame1716 {
  position: absolute;
  width: calc(100% - 482px);
  top: 0.5px;
  right: 150px;
  left: 332px;
  background-color: var(--color-ghostwhite-100);
  height: 28px;
}
.div2197 {
  position: absolute;
  top: 6px;
  left: 37px;
  line-height: 15px;
  display: flex;
  align-items: center;
  width: 80px;
  height: 15px;
}
.frame1717 {
  position: absolute;
  width: calc(100% - 451px);
  top: 0.5px;
  right: -1px;
  left: 452px;
  background-color: var(--color-ghostwhite-100);
  height: 28px;
}
.frame1709,
.frame1713 {
  position: absolute;
  width: calc(100% - 148px);
  top: 65px;
  right: 0;
  left: 148px;
  height: 36px;
  overflow: hidden;
  color: var(--wwwsaramincokr-boulder);
}
.frame1709 {
  width: calc(100% - 224px);
  top: 28px;
  right: 177px;
  left: 47px;
  height: 101px;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--color-darkslategray-300);
}
.list-item,
.list-item1,
.list-item2,
.list-item3 {
  position: absolute;
  width: calc(100% - 960px);
  top: 3122px;
  right: 479px;
  left: 481px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  height: 154px;
}
.list-item1,
.list-item2,
.list-item3 {
  top: 2952px;
}
.list-item2,
.list-item3 {
  top: 2782px;
}
.list-item3 {
  top: 2612px;
}
.list-item10,
.list-item11,
.list-item12,
.list-item13,
.list-item14,
.list-item15,
.list-item16,
.list-item17,
.list-item18,
.list-item4,
.list-item5,
.list-item6,
.list-item7,
.list-item8,
.list-item9 {
  position: absolute;
  width: calc(100% - 960px);
  top: 2442px;
  right: 479px;
  left: 481px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-100);
  box-sizing: border-box;
  height: 154px;
}
.list-item10,
.list-item11,
.list-item12,
.list-item13,
.list-item14,
.list-item15,
.list-item16,
.list-item17,
.list-item18,
.list-item5,
.list-item6,
.list-item7,
.list-item8,
.list-item9 {
  top: 2272px;
}
.list-item10,
.list-item11,
.list-item12,
.list-item13,
.list-item14,
.list-item15,
.list-item16,
.list-item17,
.list-item18,
.list-item6,
.list-item7,
.list-item8,
.list-item9 {
  top: 2102px;
}
.list-item10,
.list-item11,
.list-item12,
.list-item13,
.list-item14,
.list-item15,
.list-item16,
.list-item17,
.list-item18,
.list-item7,
.list-item8,
.list-item9 {
  top: 1932px;
}
.list-item10,
.list-item11,
.list-item12,
.list-item13,
.list-item14,
.list-item15,
.list-item16,
.list-item17,
.list-item18,
.list-item8,
.list-item9 {
  top: 1762px;
}
.list-item10,
.list-item11,
.list-item12,
.list-item13,
.list-item14,
.list-item15,
.list-item16,
.list-item17,
.list-item18,
.list-item9 {
  top: 1592px;
}
.list-item10,
.list-item11,
.list-item12,
.list-item13,
.list-item14,
.list-item15,
.list-item16,
.list-item17,
.list-item18 {
  top: 1422px;
}
.list-item11,
.list-item12,
.list-item13,
.list-item14,
.list-item15,
.list-item16,
.list-item17,
.list-item18 {
  top: 1252px;
}
.list-item12,
.list-item13,
.list-item14,
.list-item15,
.list-item16,
.list-item17,
.list-item18 {
  top: 1082px;
}
.list-item13,
.list-item14,
.list-item15,
.list-item16,
.list-item17,
.list-item18 {
  top: 912px;
}
.list-item14,
.list-item15,
.list-item16,
.list-item17,
.list-item18 {
  top: 742px;
}
.list-item15,
.list-item16,
.list-item17,
.list-item18 {
  top: 572px;
}
.list-item16,
.list-item17,
.list-item18 {
  top: 402px;
}
.list-item17,
.list-item18 {
  top: 232px;
}
.list-item18 {
  top: 62px;
}
.frame-icon197,
.image-icon294 {
  position: absolute;
  object-fit: cover;
}
.frame-icon197 {
  top: calc(50% - 15px);
  left: 882px;
  width: 78px;
  height: 32px;
}
.image-icon294 {
  top: 11px;
  left: calc(50% - 34px);
  width: 14px;
  height: 11px;
}
.div2360 {
  position: absolute;
  top: 1px;
  left: calc(50% - 7px);
  letter-spacing: -1px;
  line-height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 39px;
  height: 32px;
}
.rectangle651 {
  position: absolute;
  top: 0;
  left: 13px;
  border-radius: var(--br-10xs-5);
  background-color: var(--color-white);
  border: 1px solid var(--new-stroke-style);
  box-sizing: border-box;
  width: 1px;
  height: 1px;
}
.frame1917,
.rectangle652 {
  position: absolute;
  height: 32px;
}
.rectangle652 {
  width: 102.17%;
  top: 0;
  right: -2.17%;
  left: 0;
  border: 1px solid var(--color-gainsboro-900);
  box-sizing: border-box;
}
.frame1917 {
  top: 1px;
  left: 784px;
  background-color: var(--color-white);
  width: 92px;
}
.span42 {
  color: var(--wwwsaramincokr-tundora);
}
.txt68 {
  line-break: anywhere;
  width: 100%;
}
.div2361,
.frame1916 {
  position: absolute;
  height: 32px;
}
.div2361 {
  top: 1px;
  left: 0;
  font-size: var(--inter-regular-size);
  letter-spacing: -1px;
  line-height: 32px;
  text-align: left;
  display: flex;
  align-items: center;
  width: 66px;
  color: var(--color-gray-600);
}
.frame1916 {
  width: calc(100% - 960px);
  top: 26px;
  right: 480px;
  left: 480px;
  overflow: hidden;
  font-size: var(--font-size-smi);
  color: var(--wwwsaramincokr-tundora);
}
.b500 {
  position: absolute;
  top: 14px;
  left: calc(50% - 5px);
  letter-spacing: -1px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 31px;
  height: 21px;
}
.rectangle653 {
  position: absolute;
  width: 99.58%;
  top: 1px;
  right: 0.21%;
  left: 0.21%;
  background-color: var(--wwwsaramincokr-black);
  height: 2px;
}
.frame1918 {
  position: absolute;
  width: calc(100% - 1440px);
  top: -46px;
  right: 960px;
  left: 480px;
  background-color: #f4f5fa;
  border: 1px solid var(--color-gainsboro-500);
  box-sizing: border-box;
  height: 47px;
  font-size: var(--inder-regular1-size);
  color: #0e1833;
}
.div2362 {
  position: absolute;
  top: 14px;
  left: calc(50% - 5px);
  letter-spacing: -1px;
  line-height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 29px;
  height: 21px;
}
.frame1919 {
  position: absolute;
  width: calc(100% - 1440px);
  top: -46px;
  right: 481px;
  left: 959px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-500);
  box-sizing: border-box;
  height: 47px;
  font-size: var(--inder-regular1-size);
  color: #979797;
}
.div2363 {
  position: absolute;
  top: -98px;
  left: 480px;
  font-size: var(--font-size-5xl);
  letter-spacing: -3px;
  line-height: 36px;
  color: var(--wwwsaramincokr-tundora);
  text-align: left;
  display: flex;
  align-items: center;
  width: 159px;
  height: 36px;
}
.frame1683 {
  position: absolute;
  width: 100%;
  top: 1064px;
  right: -5px;
  left: 5px;
  background-color: var(--wwwsaramincokr-catskill-white1);
  border-top: 1px solid var(--color-gainsboro-500);
  box-sizing: border-box;
  height: 4153px;
  text-align: center;
  font-size: var(--wwwsaramincokr-inter-regular-8-size);
  color: var(--wwwsaramincokr-black);
}
.div2364,
.frame1922 {
  position: absolute;
  height: 20px;
}
.div2364 {
  top: 0;
  left: 0;
  letter-spacing: -1px;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 35px;
}
.frame1922 {
  width: calc(100% - 192px);
  top: 27px;
  right: 31px;
  left: 161px;
  overflow: hidden;
}
.b501 {
  position: absolute;
  top: 1px;
  left: 0;
  letter-spacing: -1.5px;
  line-height: 23px;
  display: flex;
  align-items: center;
  width: 229px;
  height: 23px;
}
.frame1923 {
  position: absolute;
  width: calc(100% - 192px);
  top: 57px;
  right: 31px;
  left: 161px;
  height: 46px;
  overflow: hidden;
  color: var(--wwwsaramincokr-black);
}
.frame-icon198 {
  top: 1px;
  left: 1px;
  width: 138px;
  height: 138px;
  object-fit: cover;
}
.frame-icon198,
.frame1920,
.frame1921 {
  position: absolute;
  overflow: hidden;
}
.frame1921 {
  top: 0;
  left: 0;
  border: 1px solid #e2e3e4;
  box-sizing: border-box;
  width: 475px;
  height: 138px;
}
.frame1920 {
  height: 2.47%;
  width: 50.52%;
  top: 13.56%;
  right: 24.48%;
  bottom: 83.97%;
  left: 25%;
  color: #373737;
}
.b502 {
  position: absolute;
  top: 719px;
  left: 480px;
  font-size: var(--font-size-5xl);
  letter-spacing: -3px;
  line-height: 36px;
  display: flex;
  align-items: center;
  width: 106px;
  height: 36px;
}
.rectangle654 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--wwwsaramincokr-black);
  opacity: 0.3;
}
.b503,
.div2365,
.div2366 {
  position: absolute;
  top: 150px;
  left: 44px;
  letter-spacing: -2.5px;
  line-height: 36px;
  display: flex;
  align-items: center;
  width: 409px;
  height: 36px;
}
.b503,
.div2366 {
  top: 109px;
  font-size: var(--inter-regular1-size);
  letter-spacing: -4px;
  width: 221px;
  height: 17px;
}
.div2366 {
  top: 49px;
  font-size: var(--font-size-lg);
  letter-spacing: -2px;
  width: 112px;
  height: 36px;
}
.frame1924 {
  position: absolute;
  top: 422px;
  left: calc(50% - 480px);
  width: 960px;
  height: 252px;
  background-image: url(./public/frame30@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  font-size: var(--body-text-size);
  color: var(--color-white);
}
.div2367 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -1px;
  line-height: 17px;
  display: flex;
  align-items: center;
  width: 86px;
  height: 17px;
}
.frame1926 {
  position: absolute;
  top: 56px;
  left: 743px;
  width: 179px;
  height: 31px;
  overflow: hidden;
}
.div2368 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -1px;
  line-height: 17px;
  display: flex;
  align-items: center;
  width: 98px;
  height: 17px;
}
.frame1927 {
  position: absolute;
  top: 56px;
  left: 564px;
  width: 179px;
  height: 31px;
  overflow: hidden;
}
.div2369 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -1px;
  line-height: 17px;
  display: flex;
  align-items: center;
  width: 111px;
  height: 17px;
}
.frame1928 {
  position: absolute;
  top: 56px;
  left: 385px;
  width: 179px;
  height: 31px;
  overflow: hidden;
}
.div2370 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -1px;
  line-height: 17px;
  display: flex;
  align-items: center;
  width: 73px;
  height: 17px;
}
.frame1929 {
  position: absolute;
  top: 56px;
  left: 206px;
  width: 179px;
  height: 31px;
  overflow: hidden;
}
.div2371 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -1px;
  line-height: 17px;
  display: flex;
  align-items: center;
  width: 127px;
  height: 17px;
}
.frame1930 {
  top: 56px;
  left: 27px;
  width: 179px;
  height: 31px;
  overflow: hidden;
}
.frame1930,
.frame1931,
.x5 {
  position: absolute;
}
.x5 {
  top: 0;
  left: 0;
  letter-spacing: -1px;
  line-height: 17px;
  display: flex;
  align-items: center;
  width: 138px;
  height: 17px;
}
.frame1931 {
  top: 25px;
  left: 743px;
  width: 179px;
  height: 31px;
  overflow: hidden;
}
.mvp1 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -1px;
  line-height: 17px;
  display: flex;
  align-items: center;
  width: 102px;
  height: 17px;
}
.frame1932 {
  position: absolute;
  top: 25px;
  left: 564px;
  width: 179px;
  height: 31px;
  overflow: hidden;
}
.div2372 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -1px;
  line-height: 17px;
  display: flex;
  align-items: center;
  width: 134px;
  height: 17px;
}
.frame1933 {
  position: absolute;
  top: 25px;
  left: 385px;
  width: 179px;
  height: 31px;
  overflow: hidden;
}
.div2373 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -1px;
  line-height: 17px;
}
.frame1934 {
  position: absolute;
  top: 25px;
  left: 206px;
  width: 179px;
  height: 31px;
  overflow: hidden;
}
.b504 {
  position: absolute;
  top: 0;
  left: 0;
  text-decoration: underline;
  letter-spacing: -1px;
  line-height: 17px;
  display: flex;
  align-items: center;
  width: 104px;
  height: 17px;
}
.frame1925,
.frame1935 {
  position: absolute;
  overflow: hidden;
}
.frame1935 {
  top: 25px;
  left: 27px;
  width: 179px;
  height: 31px;
}
.frame1925 {
  top: 318px;
  left: calc(50% - 480px);
  border-right: 1px solid var(--wwwsaramincokr-mercury);
  border-bottom: 1px solid var(--wwwsaramincokr-mercury);
  border-left: 1px solid var(--wwwsaramincokr-mercury);
  box-sizing: border-box;
  width: 960px;
  height: 104px;
  font-size: var(--font-size-mini);
}
.div2374 {
  position: absolute;
  top: 51px;
  left: 0;
  letter-spacing: -4px;
  line-height: 36px;
  display: flex;
  align-items: center;
  width: 186px;
  height: 36px;
}
.div2375,
.frame1936 {
  box-sizing: border-box;
}
.frame1936 {
  position: absolute;
  top: 180px;
  left: calc(50% - 480px);
  border-bottom: 1px solid var(--wwwsaramincokr-tundora);
  width: 960px;
  height: 137px;
  font-size: var(--inter-regular1-size);
}
.div2375 {
  width: 771px;
  position: relative;
  border-radius: var(--br-base);
  border: 1px solid var(--wwwsaramincokr-black);
  height: 38px;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 0;
}
.div2376,
.div2377 {
  position: absolute;
  top: 0;
}
.div2377 {
  left: -13.04%;
  letter-spacing: -1px;
  font-weight: 100;
  cursor: pointer;
}
.div2376 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
}
.property-1default31 {
  width: 8.95%;
  position: absolute;
  margin: 0 !important;
  height: 63.16%;
  top: 23.68%;
  right: 55.12%;
  bottom: 13.16%;
  left: 35.93%;
  z-index: 1;
}
.div2379 {
  position: absolute;
  top: 0;
  left: -24.64%;
  letter-spacing: -1px;
  font-weight: 100;
  cursor: pointer;
}
.property-1default32 {
  width: 8.95%;
  position: absolute;
  margin: 0 !important;
  height: 63.16%;
  top: 23.68%;
  right: 41.5%;
  bottom: 13.16%;
  left: 49.55%;
  z-index: 2;
}
.div2381 {
  position: absolute;
  top: 0;
  left: -15.38%;
  letter-spacing: -1px;
  font-weight: 100;
  cursor: pointer;
}
.property-1default33 {
  width: 6.74%;
  position: absolute;
  margin: 0 !important;
  height: 63.16%;
  top: 23.68%;
  right: 68.74%;
  bottom: 13.16%;
  left: 24.51%;
  z-index: 3;
}
.div2382,
.div2383 {
  position: absolute;
  top: 0;
}
.div2383 {
  left: 10.47%;
  letter-spacing: -1px;
  font-weight: 100;
}
.div2382 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
.property-1default34 {
  width: 11.15%;
  position: absolute;
  margin: 0 !important;
  height: 63.16%;
  top: 23.68%;
  right: 77.56%;
  bottom: 13.16%;
  left: 11.28%;
  z-index: 4;
}
.div2385,
.statedefault4 {
  position: absolute;
  cursor: pointer;
}
.div2385 {
  top: 0;
  left: -15.38%;
  letter-spacing: -1px;
  font-weight: 100;
  background: linear-gradient(#000, #000), #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.statedefault4 {
  width: 52px;
  margin: 0 !important;
  top: 9px;
  left: 19px;
  height: 24px;
  z-index: 5;
}
.match-4 {
  position: absolute;
  top: 125px;
  left: 385px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  text-align: center;
  font-size: var(--font-size-lgi-5);
  color: var(--wwwsaramincokr-black);
}
.frame1938,
.frame1939 {
  position: absolute;
  height: 15px;
}
.frame1939 {
  top: 0;
  left: 0;
  width: 65px;
  overflow: hidden;
}
.frame1938 {
  top: 91px;
  left: 564px;
  width: 135px;
}
.b505 {
  color: var(--wwwsaramincokr-oxford-blue);
}
.div2386 {
  position: absolute;
  top: 25px;
  left: 14px;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  width: 99px;
  height: 15px;
}
.frame1941 {
  position: absolute;
  height: calc(100% - 61px);
  width: calc(100% - 1735px);
  top: 85px;
  right: 330px;
  bottom: -24px;
  left: 1405px;
  border-left: 1px solid var(--wwwsaramincokr-catskill-white);
  box-sizing: border-box;
}
.frame1942,
.frame1943 {
  position: absolute;
  overflow: hidden;
}
.frame1943 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.frame1942 {
  top: 81px;
  left: 340px;
  width: 20px;
  height: 40px;
}
.rectangle655 {
  position: absolute;
  width: 100%;
  top: 64px;
  right: 0;
  left: 0;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0),
    rgba(55, 63, 87, 0.1)
  );
  height: 4px;
}
.frame-icon199 {
  position: absolute;
  top: 30px;
  left: 376px;
  width: 64px;
  height: 27px;
}
.b506,
.rectangle656 {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
.rectangle656 {
  right: 0;
  background-color: var(--wwwsaramincokr-catskill-white);
  height: 1px;
}
.b506 {
  height: 100%;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div2388 {
  width: 42px;
  position: relative;
  height: 42px;
  cursor: pointer;
}
.b507 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -1px;
}
.div2389 {
  width: 65px;
  position: relative;
  height: 43px;
}
.div2390 {
  width: 128px;
  cursor: pointer;
}
.div2390,
.div2391,
.div2392,
.match18 {
  position: relative;
  height: 43px;
}
.match18 {
  width: 223px;
  cursor: pointer;
}
.div2391,
.div2392 {
  width: 145px;
}
.div2392 {
  width: 138px;
  cursor: pointer;
}
.search-icon9 {
  width: 258px;
  position: relative;
  border-radius: var(--br-5xs);
  height: 44px;
}
.div2387 {
  position: absolute;
  top: 57px;
  left: 261px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  border: 1px solid var(--wwwsaramincokr-black);
  box-sizing: border-box;
  width: 1206px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-3xs);
  gap: var(--gap-lg);
  text-align: center;
  font-size: var(--font-size-16xl-5);
  color: var(--wwwsaramincokr-black);
}
.frame1937,
.link20 {
  position: absolute;
  left: 0;
}
.frame1937 {
  width: 100%;
  top: 0;
  right: 0;
  background-color: var(--color-white);
  height: 125px;
  color: var(--wwwsaramincokr-comet);
}
.link20 {
  height: 75%;
  width: 12.79%;
  top: 9.38%;
  letter-spacing: -1px;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.frame1944 {
  position: absolute;
  height: 37.5%;
  width: 0.33%;
  top: 23.44%;
  right: 85.15%;
  bottom: 39.06%;
  left: 14.52%;
  background-color: var(--wwwsaramincokr-geyser);
  overflow: hidden;
}
.link21 {
  position: absolute;
  height: 75%;
  width: 17.05%;
  top: 12.5%;
  left: 18.03%;
  letter-spacing: -1px;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.frame-icon200 {
  position: absolute;
  height: 31.25%;
  width: 3.28%;
  top: 34.38%;
  right: 58.69%;
  bottom: 34.38%;
  left: 38.03%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b511,
.link22 {
  position: absolute;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
}
.link22 {
  height: 75%;
  width: 27.18%;
  top: 9.38%;
  left: 43.28%;
  line-height: 24px;
}
.b511 {
  top: 0;
  left: -5px;
  justify-content: center;
  width: 102px;
  height: 32px;
}
.frame-icon201 {
  position: absolute;
  top: 13px;
  right: 9px;
  width: 10px;
  height: 6px;
  overflow: hidden;
}
.frame1945 {
  position: absolute;
  height: 100%;
  width: 33.44%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 66.56%;
  border-radius: var(--br-base);
  border: 1px solid var(--wwwsaramincokr-geyser);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-smi);
}
.component-1 {
  position: absolute;
  top: 23px;
  left: 1339px;
  width: 305px;
  height: 32px;
  font-size: var(--inter-regular-size);
  color: var(--wwwsaramincokr-oxford-blue);
}
.div2393 {
  position: absolute;
  top: 0;
  left: -57600px;
  font-size: var(--wwwsaramincokr-inter-bold-864-size);
  display: flex;
  align-items: center;
  width: 40px;
  height: 17px;
}
.div2153 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 5665px;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--wwwsaramincokr-tundora);
  font-family: var(--wwwsaramincokr-inter-bold-752);
}
