.rectangle161 {
  position: absolute;
  height: 65.62%;
  width: 100%;
  top: 34.38%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--new-fill-d9d9d9);
}
.fax-00-0000-00001,
.o2b2o2b2cokr1 {
  position: absolute;
  height: 37.51%;
  top: 46.86%;
  font-size: var(--font-size-4xl);
  white-space: pre-wrap;
  text-align: center;
  justify-content: center;
}
.fax-00-0000-00001 {
  width: 19.72%;
  left: 78.35%;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.o2b2o2b2cokr1 {
  width: 21.48%;
  left: 54.23%;
}
.div262,
.div263,
.div264,
.o2b2o2b2cokr1 {
  line-height: 24px;
  display: flex;
  align-items: center;
}
.div262 {
  position: absolute;
  height: 37.51%;
  width: 48.94%;
  top: 46.86%;
  left: 1.76%;
  font-size: var(--font-size-2xl);
  text-align: center;
  justify-content: center;
}
.div263,
.div264 {
  height: 23.43%;
  top: 0;
  font-size: var(--inter-regular-size);
}
.div263 {
  position: absolute;
  width: 4.05%;
  left: 80.98%;
  letter-spacing: -1px;
}
.div264 {
  width: 4.75%;
  left: 73.06%;
}
.api1,
.div264,
.div265 {
  position: absolute;
}
.api1 {
  height: 23.43%;
  width: 6.87%;
  top: 0;
  left: 62.85%;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.div265 {
  width: 10.21%;
  left: 49.3%;
}
.div265,
.div266,
.div267,
.div268 {
  height: 23.43%;
  top: 0;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.div266 {
  position: absolute;
  width: 9.33%;
  left: 37.15%;
  font-weight: 100;
}
.div267,
.div268 {
  width: 4.75%;
}
.div267 {
  position: absolute;
  left: 29.58%;
}
.div268 {
  left: 22.19%;
}
.div261,
.div268,
.div269 {
  position: absolute;
}
.div269 {
  height: 23.43%;
  width: 4.93%;
  top: 0;
  left: 14.62%;
  font-size: var(--inter-regular-size);
  line-height: 24px;
  display: flex;
  align-items: center;
}
.div261 {
  top: 3927px;
  left: 0;
  width: 1391px;
  height: 169px;
  color: var(--wwwsaramincokr-comet);
}
.div270,
.div271 {
  position: relative;
  letter-spacing: -1.5px;
  line-height: 21px;
}
.div271 {
  font-size: 27px;
}
.auto-layout-horizontal111 {
  position: absolute;
  bottom: 1138px;
  left: 176px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-6xs) 0 0;
  gap: var(--gap-9xs);
  font-size: var(--font-size-2xl);
  color: var(--wwwsaramincokr-boulder);
}
.b86 {
  position: relative;
  letter-spacing: -1.5px;
  line-height: 34px;
}
.auto-layout-vertical409,
.auto-layout-vertical410 {
  position: absolute;
  top: 1892px;
  left: 170px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0 0;
  font-size: var(--font-size-3xl);
  color: var(--wwwsaramincokr-ebony-clay);
}
.auto-layout-vertical410 {
  top: 873px;
  left: 132px;
  font-size: var(--inter-regular-size);
}
.div272 {
  position: absolute;
  top: 332px;
  left: 134px;
  font-size: 14.5px;
  line-height: 31px;
}
.b88 {
  position: relative;
  letter-spacing: -1px;
  line-height: 17px;
  display: inline-block;
  max-width: 179px;
  cursor: pointer;
}
.auto-layout-vertical412,
.auto-layout-vertical413,
.auto-layout-vertical414,
.auto-layout-vertical416 {
  width: 179px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-155xl-5) var(--padding-sm) 0;
  box-sizing: border-box;
}
.auto-layout-vertical413,
.auto-layout-vertical414,
.auto-layout-vertical416 {
  padding: 0 161.1px var(--padding-sm) 0;
}
.auto-layout-vertical414,
.auto-layout-vertical416 {
  padding: 0 var(--padding-146xl-6) var(--padding-sm) 0;
}
.auto-layout-vertical416 {
  padding: 0 156.6px var(--padding-sm) 0;
}
.job {
  position: relative;
  letter-spacing: -1px;
  line-height: 17px;
  color: inherit;
  display: inline-block;
  text-decoration: none;
  max-width: 179px;
  cursor: pointer;
}
.auto-layout-horizontal112,
.auto-layout-vertical420 {
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.auto-layout-vertical420 {
  width: 179px;
  flex-shrink: 0;
  flex-direction: column;
  padding: 0 139.4px var(--padding-sm) 0;
  font-size: 15.5px;
}
.auto-layout-horizontal112 {
  width: 1128px;
  border: 1px solid var(--wwwsaramincokr-black);
  flex-direction: row;
  flex-wrap: wrap;
  padding: var(--padding-smi) 27px;
}
.auto-layout-vertical423 {
  align-self: stretch;
  height: 32px;
  z-index: 0;
}
.div276 {
  position: relative;
  text-decoration: underline;
  letter-spacing: -1px;
  line-height: 18px;
  display: inline-block;
  max-width: 586px;
}
.auto-layout-vertical425 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 491.6px 0 var(--padding-3xs);
  z-index: 0;
}
.div277 {
  position: relative;
  letter-spacing: -1px;
  line-height: 17px;
}
.auto-layout-vertical424,
.auto-layout-vertical426 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  z-index: 1;
}
.auto-layout-vertical426 {
  width: 94px;
  margin: 0 !important;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  border: 1px solid var(--wwwsaramincokr-mercury);
  height: 30px;
  align-items: center;
  padding: var(--padding-8xs) 36.3px var(--padding-5xs);
  text-align: center;
  font-size: var(--font-size-6xs-5);
  color: var(--wwwsaramincokr-tundora);
}
.auto-layout-vertical424 {
  width: 680px;
  align-items: flex-start;
  padding: var(--padding-8xs) 0 var(--padding-6xs) 94px;
  position: relative;
}
.a31 {
  position: relative;
  letter-spacing: -1px;
  line-height: 17px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
}
.image-icon {
  width: 14px;
  position: relative;
  height: 14px;
  object-fit: cover;
}
.auto-layout-horizontal113 {
  width: 260px;
  margin: 0 !important;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 17px;
  border: 1px solid var(--wwwsaramincokr-black);
  box-sizing: border-box;
  height: 34px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) 83.7px var(--padding-4xs);
  gap: var(--gap-6xs);
  cursor: pointer;
  z-index: 2;
  text-align: center;
  font-size: var(--font-size-6xs-5);
  color: var(--wwwsaramincokr-black);
}
.auto-layout-vertical422 {
  width: 1260px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-2xs);
  font-size: var(--font-size-6xs);
  color: var(--wwwsaramincokr-dove-gray);
}
.rectangle162 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-18xl);
  background-color: var(--color-gray-800);
}
.ellipse {
  position: absolute;
  height: 27.47%;
  width: 13.4%;
  top: 63.74%;
  right: 3.97%;
  bottom: 8.79%;
  left: 82.63%;
  border-radius: 50%;
  background-color: var(--new-fill-d9d9d9);
}
.vector-icon76 {
  position: absolute;
  height: 12.09%;
  width: 5.46%;
  top: 71.43%;
  right: 7.94%;
  bottom: 16.48%;
  left: 86.6%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b89,
.div279,
.div280 {
  position: absolute;
  left: 7.69%;
  letter-spacing: -1px;
}
.div279 {
  top: 63.19%;
  font-size: var(--inter-regular2-size);
  line-height: 18px;
}
.b89,
.div280 {
  top: 39.01%;
  line-height: 24px;
}
.div280 {
  top: 21.98%;
  left: 7.94%;
  line-height: 18px;
}
.div278 {
  width: 403px;
  position: relative;
  height: 182px;
  flex-shrink: 0;
}
.auto-layout-horizontal114 {
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-11xl);
  font-size: var(--inder-regular1-size);
  color: var(--color-white);
}
.div299 {
  position: relative;
  letter-spacing: -1px;
  line-height: 21px;
  display: inline-block;
  max-width: 572px;
}
.auto-layout-vertical428 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 518.1px 0 var(--padding-11xs);
}
.hot {
  position: relative;
  letter-spacing: -1px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
}
.auto-layout-horizontal116 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  max-width: 574px;
  z-index: 0;
}
.image-icon1 {
  width: 44px;
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  height: 44px;
  object-fit: cover;
  z-index: 1;
}
.auto-layout-vertical430 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xs) var(--padding-3xs) var(--padding-smi)
    var(--padding-35xl);
  position: relative;
}
.auto-layout-vertical429 {
  align-self: stretch;
  gap: var(--gap-3xs);
  font-size: var(--wwwsaramincokr-inter-bold-864-size);
}
.auto-layout-vertical427,
.auto-layout-vertical429,
.auto-layout-vertical433 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.auto-layout-vertical427 {
  width: 620px;
  border-radius: var(--br-xs);
  height: 180px;
  padding: var(--padding-3xl) var(--padding-4xl) var(--padding-12xs);
  box-sizing: border-box;
  gap: var(--gap-mini);
  background-image: url(./public/auto-layout-vertical@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.auto-layout-vertical433 {
  align-self: stretch;
  padding: 0 531.2px 0 var(--padding-11xs);
}
.a32 {
  position: relative;
  letter-spacing: -1px;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
}
.auto-layout-horizontal118 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-12xs) 0 0;
  box-sizing: border-box;
  max-width: 394px;
}
.auto-layout-vertical434,
.auto-layout-vertical435,
.auto-layout-vertical436 {
  position: absolute;
  width: 100%;
  top: 1px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 481px 0 var(--padding-3xl);
  box-sizing: border-box;
}
.auto-layout-vertical435,
.auto-layout-vertical436 {
  top: 36px;
  padding: 0 472px 0 var(--padding-3xl);
  font-size: var(--font-size-5xs-3);
}
.auto-layout-vertical436 {
  top: 72px;
  padding: 0 494.4px 0 var(--padding-3xl);
  font-size: var(--font-size-6xs);
}
.frame170 {
  align-self: stretch;
  position: relative;
  height: 96px;
  font-size: var(--font-size-5xs-4);
}
.auto-layout-horizontal115,
.auto-layout-vertical432 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.auto-layout-vertical432 {
  width: 620px;
  border-radius: var(--br-xs);
  height: 180px;
  flex-direction: column;
  padding: var(--padding-3xl) var(--padding-4xl) var(--padding-12xs);
  box-sizing: border-box;
  gap: var(--gap-mini);
  background-image: url(./public/auto-layout-vertical1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.auto-layout-horizontal115 {
  flex-direction: row;
  padding: var(--padding-smi) 0;
  gap: var(--gap-xl);
  font-size: var(--wwwsaramincokr-inter-regular-8-size);
}
.rectangle169 {
  position: absolute;
  top: 164px;
  left: 27px;
  border-radius: var(--br-9xs);
  background-color: var(--new-fill-d9d9d9);
  border: 1px solid var(--wwwsaramincokr-black);
  box-sizing: border-box;
  width: 71px;
  height: 20px;
}
.d-,
.div302 {
  position: absolute;
  top: 165px;
  left: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 73px;
  height: 18px;
}
.d- {
  top: 163px;
  left: 240px;
  font-size: var(--inder-regular1-size);
  width: 54px;
  height: 23px;
}
.stateoff-icon76 {
  position: absolute;
  top: 160px;
  left: 317px;
  width: 24px;
  height: 24px;
}
.div303,
.frame171 {
  position: absolute;
  height: 20px;
}
.div303 {
  top: 0;
  left: 0;
  letter-spacing: -0.5px;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 86px;
}
.frame171 {
  width: calc(100% - 152px);
  top: 113px;
  right: 125px;
  left: 27px;
  overflow: hidden;
  text-align: left;
  color: var(--new-fill-475067);
  font-family: var(--wwwsaramincokr-inter-bold-752);
}
.div304 {
  position: absolute;
  top: 5px;
  left: 5px;
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 600;
  display: inline-block;
  width: 100px;
  height: 15px;
}
.frame172,
.rectangle170 {
  position: absolute;
  left: 27px;
}
.frame172 {
  width: calc(100% - 50px);
  top: 75px;
  right: 23px;
  height: 24px;
  overflow: hidden;
  text-align: left;
  font-size: var(--inder-regular1-size);
  font-family: var(--wwwsaramincokr-inter-bold-752);
}
.rectangle170 {
  top: 20px;
  border: 1px solid var(--wwwsaramincokr-black);
  box-sizing: border-box;
  width: 192px;
  height: 49px;
}
.div305 {
  position: absolute;
  top: 32px;
  left: 87px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 73px;
  height: 24px;
}
.div301 {
  width: 352px;
  position: relative;
  border-radius: var(--br-base);
  border: 1px solid var(--wwwsaramincokr-black);
  box-sizing: border-box;
  height: 198px;
}
.auto-layout-horizontal121 {
  width: 1136px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 17px 40px;
}
.stateoff-icon88 {
  position: absolute;
  top: 174px;
  left: 196px;
  width: 24px;
  height: 24px;
}
.frame195 {
  position: absolute;
  width: calc(100% - 36px);
  top: 148px;
  right: 6px;
  left: 30px;
  height: 20px;
  overflow: hidden;
  text-align: left;
  color: var(--new-fill-475067);
}
.div363 {
  position: absolute;
  top: 0;
  left: 6px;
  letter-spacing: -0.5px;
  display: flex;
  align-items: center;
  width: 11px;
  height: 14px;
}
.rectangle193 {
  position: absolute;
  left: 0;
  border-radius: var(--br-12xs);
  background-color: var(--wwwsaramincokr-geyser);
  width: 2px;
  height: 0;
}
.image-icon3 {
  position: absolute;
  left: 20.6px;
  width: 5px;
  height: 10px;
  object-fit: cover;
}
.frame196 {
  position: absolute;
  top: 129px;
  left: 101.6px;
  width: 25.6px;
  height: 0;
  overflow: hidden;
  text-align: left;
  font-size: var(--inter-regular2-size);
  color: var(--new-fill-475067);
}
.rectangle194 {
  position: absolute;
  top: 123px;
  left: 90px;
  border-radius: var(--br-9xs);
  background-color: var(--new-fill-d9d9d9);
  border: 1px solid var(--wwwsaramincokr-black);
  box-sizing: border-box;
  width: 71px;
  height: 20px;
}
.div364 {
  top: 125px;
  left: 88px;
  font-family: var(--inder-regular);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 73px;
  height: 18px;
}
.d-12,
.div364,
.ellipse7 {
  position: absolute;
}
.d-12 {
  top: 120px;
  left: 25px;
  font-size: var(--inder-regular1-size);
  font-family: var(--inder-regular);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 54px;
  height: 23px;
}
.ellipse7 {
  bottom: 113px;
  left: 20px;
  border-radius: 50%;
  background-color: var(--color-white);
  border: 1px solid var(--wwwsaramincokr-black);
  box-sizing: border-box;
  width: 89px;
  height: 80px;
}
.div365 {
  position: absolute;
  top: 29px;
  left: 29px;
  font-size: var(--inter-regular1-size);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 71px;
  height: 68px;
}
.div361 {
  width: 236px;
  position: relative;
  border-radius: var(--br-base);
  border: 1px solid var(--wwwsaramincokr-black);
  box-sizing: border-box;
  height: 216px;
}
.auto-layout-horizontal122 {
  width: 1049px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 15px 35px;
  font-family: var(--wwwsaramincokr-inter-bold-752);
}
.d-30 {
  position: absolute;
  top: 110px;
  left: 386px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 94px;
  height: 33px;
}
.rectangle225,
.stateoff-icon104 {
  position: absolute;
  top: 111px;
  left: 463px;
  width: 24px;
  height: 24px;
}
.rectangle225 {
  height: 71.11%;
  top: 14.44%;
  bottom: 14.44%;
  left: 0;
  background-color: var(--wwwsaramincokr-geyser);
  width: 1px;
}
.frame227 {
  position: absolute;
  height: calc(100% - 134px);
  top: 77px;
  bottom: 57px;
  left: 210.5px;
  width: 24.4px;
  overflow: hidden;
}
.rectangle226 {
  position: absolute;
  top: 26px;
  left: 27px;
  border: 1px solid var(--wwwsaramincokr-black);
  box-sizing: border-box;
  width: 122px;
  height: 89px;
}
.div442 {
  position: absolute;
  top: 64px;
  left: 53px;
  font-size: var(--inter-regular-size);
}
.div443,
.div444 {
  position: absolute;
  left: 171px;
  font-family: var(--wwwsaramincokr-inter-bold-752);
}
.div443 {
  top: 48px;
  font-size: var(--inter-regular-size);
  letter-spacing: -0.5px;
  line-height: 20px;
}
.div444 {
  top: 26px;
  letter-spacing: -0.02em;
  line-height: 110%;
  font-weight: 600;
  display: inline-block;
  width: 100px;
  height: 15px;
}
.div441 {
  width: 496px;
  position: relative;
  border-radius: var(--br-base);
  border: 1px solid var(--wwwsaramincokr-black);
  box-sizing: border-box;
  height: 143px;
}
.auto-layout-horizontal123 {
  width: 1042px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 31px 50px;
  text-align: left;
  font-size: var(--inder-regular1-size);
}
.auto-layout-vertical437 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 151px;
  text-align: center;
  font-size: var(--inter-regular-size);
  color: var(--wwwsaramincokr-black);
  font-family: var(--inder-regular);
}
.auto-layout-vertical411,
.div481 {
  position: absolute;
  color: var(--wwwsaramincokr-tundora);
  display: flex;
}
.auto-layout-vertical411 {
  top: 215px;
  left: 125px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 48px;
  font-size: var(--font-size-sm-5);
}
.div481 {
  top: 151px;
  left: 137px;
  font-size: var(--font-size-lgi);
  letter-spacing: 0.15em;
  line-height: 36px;
  align-items: center;
  width: 84px;
  height: 35px;
}
.div485 {
  top: 0;
  left: 0;
  letter-spacing: -1px;
  font-weight: 100;
  background: linear-gradient(#4876ef, #4876ef), #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.div484,
.div485,
.div487 {
  position: absolute;
}
.div484 {
  top: 7px;
  left: 16px;
  width: 52px;
  height: 24px;
  display: none;
}
.div487 {
  top: 0;
  left: 0;
  letter-spacing: -1px;
  font-weight: 100;
}
.div486,
.div488,
.div490,
.div492 {
  position: absolute;
  top: 7px;
  left: 89px;
  width: 86px;
  height: 24px;
  display: none;
}
.div488,
.div490,
.div492 {
  left: 196px;
  width: 52px;
}
.div490,
.div492 {
  left: 269px;
  width: 69px;
}
.div492 {
  left: 359px;
}
.div483 {
  width: 771px;
  position: relative;
  border-radius: var(--br-base);
  border: 1px solid var(--wwwsaramincokr-black);
  box-sizing: border-box;
  height: 46px;
  z-index: 0;
  color: var(--color-royalblue-400);
}
.div494,
.div495 {
  position: absolute;
  left: 0;
}
.div495 {
  top: 3.44%;
  letter-spacing: -1px;
  font-weight: 100;
}
.div494 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
}
.property-1default {
  width: 8.95%;
  position: absolute;
  margin: 0 !important;
  height: 63.26%;
  top: 17.39%;
  right: 46.43%;
  bottom: 19.35%;
  left: 44.62%;
  cursor: pointer;
  z-index: 1;
}
.div496,
.property-1default1 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
}
.property-1default1 {
  width: 8.95%;
  margin: 0 !important;
  height: 63.26%;
  top: 17.39%;
  right: 57.33%;
  bottom: 19.35%;
  left: 33.72%;
  z-index: 2;
}
.property-1default2 {
  width: 6.74%;
  margin: 0 !important;
  height: 63.26%;
  top: 19.57%;
  right: 68.22%;
  bottom: 17.17%;
  left: 25.03%;
  z-index: 3;
}
.div501,
.property-1default2,
.property-1default3 {
  position: absolute;
  cursor: pointer;
}
.div501 {
  top: 3.44%;
  left: 0;
  letter-spacing: -1px;
  font-weight: 100;
}
.property-1default3 {
  width: 11.15%;
  margin: 0 !important;
  height: 63.26%;
  top: 17.39%;
  right: 76.91%;
  bottom: 19.35%;
  left: 11.93%;
  z-index: 4;
}
.div503 {
  position: absolute;
  top: 3.44%;
  left: 19.77%;
  letter-spacing: -1px;
  font-weight: 100;
}
.property-1default4 {
  width: 11.15%;
  position: absolute;
  margin: 0 !important;
  height: 63.26%;
  top: 19.57%;
  right: 87.55%;
  bottom: 17.17%;
  left: 1.3%;
  cursor: pointer;
  z-index: 5;
}
.b96,
.div482 {
  position: absolute;
  display: flex;
}
.div482 {
  top: 58px;
  left: 278px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  text-align: center;
  font-size: var(--font-size-lgi-5);
}
.b96 {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  letter-spacing: -1px;
  align-items: center;
  justify-content: center;
}
.div505 {
  width: 42px;
  position: relative;
  height: 42px;
  cursor: pointer;
}
.b97 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -1px;
}
.div506 {
  width: 65px;
  position: relative;
  height: 43px;
}
.div507 {
  width: 128px;
  cursor: pointer;
}
.div507,
.div508,
.div509,
.match2 {
  position: relative;
  height: 43px;
}
.match2 {
  width: 223px;
  cursor: pointer;
}
.div508,
.div509 {
  width: 145px;
}
.div509 {
  width: 138px;
  cursor: pointer;
}
.search-icon1 {
  width: 258px;
  position: relative;
  border-radius: var(--br-5xs);
  height: 44px;
}
.div260,
.div504 {
  background-color: var(--color-white);
  overflow: hidden;
}
.div504 {
  position: absolute;
  top: 0;
  left: 129px;
  border-radius: var(--br-xl);
  border: 1px solid var(--wwwsaramincokr-black);
  box-sizing: border-box;
  width: 1206px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-7xs) var(--padding-3xs);
  gap: var(--gap-lg);
  text-align: center;
  font-size: var(--font-size-16xl-5);
}
.div260 {
  width: 100%;
  position: relative;
  height: 4096px;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--wwwsaramincokr-black);
  font-family: var(--wwwsaramincokr-inter-bold-752);
}
