.rectangle413 {
  position: absolute;
  height: 65.62%;
  width: 100%;
  top: 34.38%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--new-fill-d9d9d9);
}
.fax-00-0000-00005 {
  width: 19.72%;
  left: 78.35%;
  font-size: var(--font-size-4xl);
  white-space: pre-wrap;
}
.div1016,
.fax-00-0000-00005,
.o2b2o2b2cokr5 {
  position: absolute;
  height: 37.51%;
  top: 46.86%;
  line-height: 24px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.o2b2o2b2cokr5 {
  width: 21.48%;
  left: 54.22%;
  font-size: var(--font-size-4xl);
  white-space: pre-wrap;
}
.div1016 {
  width: 48.94%;
  left: 1.76%;
  font-size: var(--font-size-2xl);
}
.div1017 {
  width: 4.05%;
  left: 80.99%;
  font-size: var(--inter-regular-size);
  letter-spacing: -1px;
}
.api5,
.div1017,
.div1018 {
  position: absolute;
  height: 23.43%;
  top: 0;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.div1018 {
  width: 4.75%;
  left: 73.06%;
  font-size: var(--inter-regular-size);
}
.api5 {
  width: 6.86%;
  left: 62.85%;
}
.div1019 {
  width: 10.21%;
  left: 49.3%;
}
.div1019,
.div1020,
.div1021,
.div1022,
.div1023 {
  position: absolute;
  height: 23.43%;
  top: 0;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.div1020 {
  width: 9.33%;
  left: 37.15%;
  font-weight: 100;
}
.div1021,
.div1022,
.div1023 {
  width: 4.75%;
  left: 29.58%;
}
.div1022,
.div1023 {
  left: 22.18%;
}
.div1023 {
  width: 4.93%;
  left: 14.61%;
  font-size: var(--inter-regular-size);
}
.div1015 {
  position: absolute;
  top: 5531px;
  left: 0;
  width: 1795px;
  height: 169px;
  color: var(--wwwsaramincokr-comet);
}
.rectangle414 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: -21.32%;
  right: -25%;
  bottom: 21.32%;
  left: 25%;
}
.b184 {
  position: absolute;
  top: 41.18%;
  left: 34.42%;
  letter-spacing: -1px;
  line-height: 24px;
  white-space: pre-wrap;
}
.frame413 {
  width: 276px;
  position: relative;
  background-color: var(--color-whitesmoke-600);
  height: 136px;
  overflow: hidden;
  flex-shrink: 0;
}
.b185 {
  position: absolute;
  top: 8px;
  left: 0;
  letter-spacing: -1px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 171px;
  height: 23px;
}
.frame414 {
  width: 244px;
  position: relative;
  height: 37px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--font-size-mini);
  color: var(--wwwsaramincokr-tundora);
}
.b186 {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: -1px;
  line-height: 24px;
}
.frame415 {
  width: 244px;
  position: relative;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--font-size-2xs);
}
.stateoff-icon155 {
  position: absolute;
  top: 16px;
  left: 238px;
  width: 24px;
  height: 24px;
}
.div1025,
.frame417 {
  position: absolute;
  height: 20px;
}
.div1025 {
  top: 0;
  left: 0;
  letter-spacing: -0.5px;
  line-height: 20px;
  display: flex;
  align-items: center;
  width: 40.8px;
}
.frame417 {
  top: 15px;
  left: 16px;
  width: 194px;
  overflow: hidden;
}
.frame416 {
  width: 276px;
  position: relative;
  border: 1px solid var(--wwwsaramincokr-black);
  box-sizing: border-box;
  height: 53px;
  font-size: var(--inter-regular-size);
  color: var(--wwwsaramincokr-oxford-blue);
}
.auto-layout-horizontal137,
.div1024 {
  display: flex;
  justify-content: flex-start;
}
.div1024 {
  border-radius: var(--br-base);
  background-color: var(--wwwsaramincokr-nero-02);
  box-shadow: 2px 6px 16px rgba(17, 42, 128, 0.08);
  border: 1px solid var(--wwwsaramincokr-black);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  gap: var(--gap-xs);
}
.auto-layout-horizontal137 {
  position: absolute;
  top: 815px;
  left: 256px;
  width: 1288px;
  overflow-y: auto;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 30px var(--padding-mid);
  box-sizing: border-box;
  gap: 43px 50px;
  font-size: var(--font-size-lg);
}
.span35 {
  color: var(--wwwsaramincokr-black);
}
.txt35 {
  width: 100%;
}
.b352 {
  position: absolute;
  top: 777px;
  left: 263px;
  font-size: 16.7px;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  width: 276px;
  height: 25px;
  color: var(--wwwsaramincokr-oxford-blue);
}
.frame-icon38,
.frame-icon39 {
  position: absolute;
  overflow: hidden;
}
.frame-icon38 {
  top: 34px;
  left: 859px;
  width: 16px;
  height: 16px;
}
.frame-icon39 {
  top: 30px;
  left: calc(50% + 568px);
  width: 24px;
  height: 24px;
}
.x {
  position: absolute;
  top: 25px;
  left: 13px;
  font-size: 21.5px;
  letter-spacing: -1px;
  line-height: 26px;
  color: var(--wwwsaramincokr-comet);
  text-align: left;
  display: flex;
  align-items: center;
  width: 160px;
  height: 26px;
}
.div1136,
.frame695 {
  position: absolute;
  height: 16px;
}
.div1136 {
  top: 0;
  left: 0;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  width: 83px;
}
.frame695 {
  width: calc(100% - 55px);
  top: 11px;
  right: 41px;
  left: 14px;
  overflow: hidden;
}
.frame694 {
  position: absolute;
  top: calc(50% - 14px);
  left: 1040px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-800);
  box-sizing: border-box;
  width: 160px;
  height: 40px;
  text-align: left;
  color: var(--color-gray-600);
}
.div1137 {
  position: absolute;
  top: 12px;
  left: 11px;
  letter-spacing: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 16px;
}
.frame696,
.frame697,
.frame698 {
  position: absolute;
  top: 24px;
  left: 991px;
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  border: 1px solid var(--wwwsaramincokr-geyser);
  box-sizing: border-box;
  width: 41px;
  height: 40px;
}
.frame697,
.frame698 {
  left: 941px;
}
.frame698 {
  left: 892px;
  font-size: 9.3px;
}
.frame693 {
  position: absolute;
  top: 665px;
  left: calc(50% - 636.5px);
  background-color: #cacaca;
  width: 1278px;
  height: 76px;
  text-align: center;
  font-size: var(--wwwsaramincokr-inter-regular-825-size);
  color: var(--color-lightslategray-100);
}
.div1140 {
  position: absolute;
  top: 0;
  left: calc(50% - 0.5px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6px;
  height: 17px;
}
.frame701 {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.frame700,
.rectangle470 {
  position: absolute;
  box-sizing: border-box;
}
.rectangle470 {
  height: 28.13%;
  width: 28.13%;
  top: 31.25%;
  right: 28.13%;
  bottom: 40.63%;
  left: 43.75%;
  border-top: 2px solid var(--wwwsaramincokr-comet);
  border-right: 2px solid var(--wwwsaramincokr-comet);
  transform: rotate(45deg);
  transform-origin: 0 0;
}
.frame700 {
  top: 16px;
  right: -56px;
  border-radius: var(--br-13xl);
  border: 1px solid var(--wwwsaramincokr-catskill-white);
  width: 32px;
  height: 32px;
}
.rectangle471 {
  height: 28.13%;
  width: 28.13%;
  top: 31.25%;
  right: 15.63%;
  bottom: 40.63%;
  left: 56.25%;
  border-bottom: 2px solid var(--color-lightsteelblue-500);
  border-left: 2px solid var(--color-lightsteelblue-500);
  box-sizing: border-box;
  transform: rotate(45deg);
  transform-origin: 0 0;
}
.b353,
.frame702,
.rectangle471 {
  position: absolute;
}
.frame702 {
  top: 16px;
  left: -56px;
  border-radius: var(--br-13xl);
  background-color: var(--color-white);
  border: 1px solid var(--wwwsaramincokr-catskill-white);
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  font-size: var(--wwwsaramincokr-inter-regular-825-size);
}
.b353 {
  top: 73px;
  left: calc(50% - 99471px);
  letter-spacing: -1px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 8px;
  height: 16px;
}
.rectangle472 {
  border-radius: var(--br-10xs-5);
  background-color: var(--color-royalblue-700);
  width: 1px;
  height: 1px;
}
.frame-icon40,
.rectangle472,
.rectangle473 {
  position: absolute;
  top: 0;
  left: 0;
}
.frame-icon40 {
  width: 64px;
  height: 64px;
  overflow: hidden;
  object-fit: cover;
}
.rectangle473 {
  height: 100%;
  width: 100%;
  right: 0;
  bottom: 0;
  background-color: rgba(55, 63, 87, 0.85);
}
.image-icon42 {
  position: absolute;
  top: 12px;
  left: 12px;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.frame706 {
  position: absolute;
  top: 0;
  left: calc(50% - 99499px);
  border-radius: var(--br-45xl);
  width: 64px;
  height: 64px;
  overflow: hidden;
}
.div1142 {
  position: absolute;
  top: 73px;
  left: calc(50% - 99365px);
  letter-spacing: -1px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 16px;
}
.rectangle474 {
  position: absolute;
  top: 0;
  left: 112px;
  border-radius: var(--br-10xs-5);
  background-color: var(--color-white);
  border: 1px solid var(--new-stroke-style);
  box-sizing: border-box;
  width: 1px;
  height: 1px;
}
.frame707,
.frame708 {
  position: absolute;
  top: 0;
  width: 64px;
  height: 64px;
  overflow: hidden;
}
.frame708 {
  left: 0;
}
.frame707 {
  left: calc(50% - 99387px);
  border-radius: var(--br-45xl);
}
.div1143 {
  position: absolute;
  top: 73px;
  left: calc(50% - 99260px);
  letter-spacing: -1px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 16px;
}
.rectangle475 {
  position: absolute;
  top: 0;
  left: 224px;
  border-radius: var(--br-10xs-5);
  background-color: var(--color-white);
  border: 1px solid var(--new-stroke-style);
  box-sizing: border-box;
  width: 1px;
  height: 1px;
}
.frame-icon41 {
  position: absolute;
  top: 0;
  left: calc(50% - 99275px);
  border-radius: var(--br-45xl);
  width: 64px;
  height: 64px;
  overflow: hidden;
  object-fit: cover;
}
.div1144 {
  position: absolute;
  top: 73px;
  left: calc(50% - 99146px);
  letter-spacing: -1px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 31px;
  height: 16px;
}
.rectangle476 {
  position: absolute;
  top: 0;
  left: 336px;
  border-radius: var(--br-10xs-5);
  background-color: var(--color-white);
  border: 1px solid var(--new-stroke-style);
  box-sizing: border-box;
  width: 1px;
  height: 1px;
}
.frame-icon42 {
  position: absolute;
  top: 0;
  left: calc(50% - 99163px);
  border-radius: var(--br-45xl);
  width: 64px;
  height: 64px;
  overflow: hidden;
  object-fit: cover;
}
.hrd {
  position: absolute;
  top: 73px;
  left: calc(50% - 99044px);
  font-size: 9.1px;
  letter-spacing: -1px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 16px;
}
.rectangle477 {
  position: absolute;
  top: 0;
  left: 448px;
  border-radius: var(--br-10xs-5);
  background-color: var(--color-white);
  border: 1px solid var(--new-stroke-style);
  box-sizing: border-box;
  width: 1px;
  height: 1px;
}
.frame-icon43 {
  position: absolute;
  top: 0;
  left: calc(50% - 99051px);
  border-radius: var(--br-45xl);
  width: 64px;
  height: 64px;
  overflow: hidden;
  object-fit: cover;
}
.div1145 {
  position: absolute;
  top: 73px;
  left: calc(50% - 98922px);
  letter-spacing: -1px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 31px;
  height: 16px;
}
.rectangle478 {
  position: absolute;
  top: 0;
  left: 560px;
  border-radius: var(--br-10xs-5);
  background-color: var(--color-white);
  border: 1px solid var(--new-stroke-style);
  box-sizing: border-box;
  width: 1px;
  height: 1px;
}
.frame-icon44 {
  position: absolute;
  top: 0;
  left: calc(50% - 98939px);
  border-radius: var(--br-45xl);
  width: 64px;
  height: 64px;
  overflow: hidden;
  object-fit: cover;
}
.it {
  position: absolute;
  top: 73px;
  left: calc(50% - 98812px);
  font-size: var(--font-size-5xs-1);
  letter-spacing: -1px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 16px;
}
.rectangle479 {
  position: absolute;
  top: 0;
  left: 672px;
  border-radius: var(--br-10xs-5);
  background-color: var(--color-white);
  border: 1px solid var(--new-stroke-style);
  box-sizing: border-box;
  width: 1px;
  height: 1px;
}
.frame-icon45 {
  position: absolute;
  top: 0;
  left: calc(50% - 98827px);
  border-radius: var(--br-45xl);
  width: 64px;
  height: 64px;
  overflow: hidden;
  object-fit: cover;
}
.div1146 {
  position: absolute;
  top: 73px;
  left: calc(50% - 98689px);
  letter-spacing: -1px;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 13px;
  height: 16px;
}
.rectangle480 {
  position: absolute;
  top: 0;
  left: 784px;
  border-radius: var(--br-10xs-5);
  background-color: var(--color-white);
  border: 1px solid var(--new-stroke-style);
  box-sizing: border-box;
  width: 1px;
  height: 1px;
}
.frame-icon46,
.frame704,
.frame705 {
  position: absolute;
  top: 0;
  overflow: hidden;
}
.frame-icon46 {
  left: calc(50% - 98715px);
  border-radius: var(--br-45xl);
  width: 64px;
  height: 64px;
  object-fit: cover;
}
.frame704,
.frame705 {
  left: 0;
  height: 90px;
}
.frame705 {
  width: calc(100% + 198150px);
  right: -198150px;
}
.frame704 {
  width: 100%;
  right: 0;
  font-size: var(--font-size-6xs);
}
.frame699 {
  position: absolute;
  width: calc(100% - 841px);
  top: 512px;
  right: 454px;
  left: 387px;
  height: 104px;
  text-align: center;
  font-size: var(--wwwsaramincokr-inter-regular-8-size);
}
.vector-icon105 {
  width: 1283px;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 190px;
  flex-shrink: 0;
  display: none;
  z-index: 0;
}
.div1148,
.div1149 {
  width: 9.68%;
  position: absolute;
  margin: 0 !important;
  top: 43.68%;
  left: 4.94%;
  letter-spacing: -0.5px;
  line-height: 24px;
  display: flex;
  align-items: center;
  z-index: 1;
}
.div1149 {
  width: 6.55%;
  top: 20%;
  font-size: var(--font-size-lg);
  z-index: 2;
}
.div1147,
.vector-group {
  position: absolute;
  width: 1283px;
  height: 190px;
}
.vector-group {
  top: 0;
  left: 0;
  background-color: #adadad;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.div1147 {
  top: 65px;
  left: 256px;
  font-size: var(--font-size-16xl);
}
.header-list1 {
  position: absolute;
  top: 23px;
  left: 1314.5px;
  letter-spacing: -1px;
  color: var(--wwwsaramincokr-comet);
  text-align: center;
  display: none;
  align-items: center;
  justify-content: center;
  width: 34.7px;
  height: 17px;
}
.b354 {
  top: 0;
  left: 0;
  letter-spacing: -1px;
  line-height: 24px;
}
.b354,
.b355,
.div1150 {
  position: absolute;
}
.div1150 {
  top: 20px;
  left: 72px;
  width: 128px;
  height: 24px;
  cursor: pointer;
  font-size: var(--font-size-9xl-5);
}
.b355 {
  top: 0;
  left: 0;
  letter-spacing: -1px;
  line-height: 28px;
}
.div1151,
.divheader2 {
  position: absolute;
  top: 18px;
  left: 232px;
  width: 78px;
  height: 28px;
  font-size: var(--font-size-3xl);
}
.divheader2 {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  border: 1px solid var(--wwwsaramincokr-black);
  box-sizing: border-box;
  height: 65px;
  font-size: var(--font-size-4xs-7);
}
.div1014 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 5697px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-smi);
  color: var(--wwwsaramincokr-black);
  font-family: var(--wwwsaramincokr-inter-bold-752);
}
