.rectangle657,
.rectangle658 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  width: 1920px;
  height: 1080px;
}
.rectangle658 {
  top: 58px;
  background-color: var(--new-fill-d9d9d9);
  width: 1648px;
  height: 111px;
}
.fax-00-0000-00007,
.o2b2o2b2cokr7 {
  position: absolute;
  top: 79px;
  font-size: var(--font-size-3xs);
  white-space: pre-wrap;
  text-align: center;
  justify-content: center;
  height: 63px;
}
.fax-00-0000-00007 {
  left: calc(50% + 467px);
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 325px;
}
.o2b2o2b2cokr7 {
  left: calc(50% + 70px);
  width: 354px;
}
.div2394,
.div2395,
.div2396,
.o2b2o2b2cokr7 {
  line-height: 24px;
  display: flex;
  align-items: center;
}
.div2394 {
  position: absolute;
  top: 79px;
  left: calc(50% - 795px);
  font-size: var(--font-size-3xs);
  text-align: center;
  justify-content: center;
  width: 807px;
  height: 63px;
}
.div2395,
.div2396 {
  top: 0;
  height: 40px;
}
.div2395 {
  position: absolute;
  left: 1335px;
  letter-spacing: -1px;
  width: 67px;
}
.div2396 {
  left: 1204px;
  width: 78px;
}
.api12,
.div2396,
.div2397 {
  position: absolute;
}
.api12 {
  top: 0;
  left: 1036px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 113px;
  height: 40px;
}
.div2397 {
  left: 812px;
  width: 168px;
}
.div2397,
.div2398,
.div2399,
.div2400 {
  top: 0;
  line-height: 24px;
  display: flex;
  align-items: center;
  height: 40px;
}
.div2398 {
  position: absolute;
  left: 612px;
  font-weight: 100;
  width: 154px;
}
.div2399,
.div2400 {
  width: 78px;
}
.div2399 {
  position: absolute;
  left: 487px;
}
.div2400 {
  left: 366px;
}
.div2400,
.div2401,
.group {
  position: absolute;
}
.div2401 {
  top: 0;
  left: 241px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 81px;
  height: 40px;
}
.group {
  top: 911px;
  left: 272px;
  width: 1648px;
  height: 169px;
  font-size: var(--font-size-6xs);
  color: var(--wwwsaramincokr-comet);
}
.rectangle659 {
  position: absolute;
  top: 807px;
  left: 398px;
  border-radius: var(--br-3xs);
  background-color: var(--wwwsaramincokr-catskill-white1);
  width: 1502px;
  height: 104px;
}
.li {
  margin-bottom: 0;
}
.ul {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-smi);
}
.div2402 {
  position: absolute;
  top: 853px;
  left: 605px;
  font-size: var(--font-size-3xs);
  color: var(--color-lightslategray-100);
  display: flex;
  align-items: center;
  width: 492px;
  height: 12px;
}
.p51 {
  margin: 0;
}
.b512 {
  position: absolute;
  top: 829px;
  left: 463px;
  font-size: var(--inder-regular1-size);
  color: var(--color-lightslategray-100);
}
.ellipse56 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--wwwsaramincokr-catskill-white1);
  border: 2px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}
.group1,
.i15 {
  position: absolute;
  top: 1px;
  left: 8px;
}
.group1 {
  top: 829px;
  left: 437px;
  width: 20px;
  height: 20px;
  text-align: center;
}
.rectangle660 {
  position: absolute;
  top: 781px;
  left: calc(50% - 562px);
  background-color: var(--wwwsaramincokr-catskill-white);
  width: 1501px;
  height: 4px;
}
.rectangle661 {
  position: absolute;
  top: 720px;
  left: 1069px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-royalblue-600);
  box-sizing: border-box;
  width: 200px;
  height: 40px;
}
.b513 {
  top: 732px;
  left: 1095px;
  color: var(--color-royalblue-600);
}
.b513,
.b514,
.b515 {
  position: absolute;
}
.b514 {
  top: 670px;
  left: 1074px;
  text-align: center;
}
.b515 {
  top: calc(50% + 96px);
  left: calc(50% + 85px);
  font-size: var(--font-size-lg);
  color: var(--wwwsaramincokr-tundora);
}
.rectangle662 {
  position: absolute;
  top: 546px;
  left: 1133px;
  background-color: var(--new-fill-d9d9d9);
  width: 72px;
  height: 50px;
}
.rectangle663 {
  position: absolute;
  top: 501px;
  left: calc(50% - 562px);
  background-color: var(--wwwsaramincokr-catskill-white);
  width: 1501px;
  height: 4px;
}
.rectangle664,
.rectangle665 {
  position: absolute;
  top: 440px;
  left: 1797px;
  border-radius: var(--br-8xs);
  background-color: var(--new-fill-d9d9d9);
  width: 88px;
  height: 40px;
}
.rectangle665 {
  left: 1662px;
  width: 105px;
}
.b516,
.rectangle666 {
  position: absolute;
  left: 735px;
}
.rectangle666 {
  top: 410px;
  background-color: var(--color-white);
  width: 80px;
  height: 36px;
}
.b516 {
  top: 416px;
  font-size: var(--body-text-size);
  color: var(--wwwsaramincokr-tundora);
}
.rectangle667 {
  position: absolute;
  top: 410px;
  left: 510px;
  background-color: var(--color-white);
  width: 52px;
  height: 36px;
}
.b517 {
  position: absolute;
  top: 416px;
  left: 509px;
  font-size: var(--body-text-size);
  color: var(--wwwsaramincokr-black);
}
.rectangle668 {
  position: absolute;
  top: 410px;
  left: 403px;
  background-color: var(--color-white);
  width: 42px;
  height: 36px;
}
.b518 {
  position: absolute;
  top: 416px;
  left: 406px;
  font-size: var(--body-text-size);
  color: var(--wwwsaramincokr-tundora);
}
.b519,
.rectangle669 {
  position: absolute;
  left: 600px;
}
.rectangle669 {
  top: 410px;
  background-color: var(--color-white);
  width: 103px;
  height: 36px;
}
.b519 {
  top: 416px;
  font-size: var(--body-text-size);
  color: var(--wwwsaramincokr-tundora);
}
.rectangle670 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-aliceblue-100);
  width: 300px;
  height: 172px;
}
.div2403,
.div2404 {
  position: absolute;
  top: 86px;
  left: 39px;
}
.div2404 {
  top: 23px;
  left: 32px;
  font-size: var(--font-size-mini);
  color: var(--wwwsaramincokr-black);
}
.group2 {
  position: absolute;
  top: 197px;
  left: 1381px;
  width: 300px;
  height: 172px;
  font-size: var(--inter-regular2-size);
}
.div2405,
.div2406 {
  position: absolute;
  top: 91px;
  left: 33px;
}
.div2406 {
  top: 24px;
  left: 37px;
  font-size: var(--font-size-mini);
  color: var(--wwwsaramincokr-black);
}
.group3,
.rectangle672 {
  position: absolute;
  width: 300px;
  height: 172px;
}
.group3 {
  top: 197px;
  left: 1051px;
  font-size: var(--inter-regular2-size);
}
.rectangle672 {
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: #e5efff;
}
.div2407,
.div2408 {
  position: absolute;
  top: 81px;
  left: 51px;
}
.div2408 {
  top: 27px;
  left: 40px;
  font-size: var(--font-size-mini);
  color: var(--wwwsaramincokr-black);
}
.group4,
.rectangle673 {
  position: absolute;
  width: 300px;
  height: 172px;
}
.group4 {
  top: 197px;
  left: 721px;
  font-size: var(--inter-regular2-size);
}
.rectangle673 {
  top: 0;
  left: 0;
  border-radius: var(--br-11xl);
  background-color: var(--color-royalblue-400);
}
.b520,
.group5 {
  position: absolute;
  top: 27px;
  left: 33px;
}
.group5 {
  top: 197px;
  left: 391px;
  width: 300px;
  height: 172px;
  font-size: var(--font-size-mini);
  color: var(--color-white);
}
.rectangle674 {
  position: absolute;
  top: 162px;
  left: 1199px;
  border-radius: var(--br-10xs-5);
  background-color: var(--color-royalblue-700);
  width: 1px;
  height: 1px;
}
.b521 {
  position: absolute;
  top: 100px;
  left: 391px;
  font-size: var(--font-size-17xl);
  color: var(--wwwsaramincokr-black);
}
.ellipse57,
.rectangle675 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--new-fill-d9d9d9);
  width: 327px;
  height: 45px;
}
.ellipse57 {
  top: 5px;
  left: 6px;
  border-radius: 50%;
  background-color: var(--color-royalblue-600);
  width: 35px;
  height: 35px;
}
.vector-icon114 {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 15px;
  height: 15px;
}
.frame-icon202 {
  top: 15px;
  left: 268px;
  width: 59px;
  overflow: hidden;
}
.div2409,
.frame-icon202,
.frame1946 {
  position: absolute;
  height: 18px;
}
.div2409 {
  top: 0;
  left: 0;
  letter-spacing: -1px;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 59px;
}
.frame1946 {
  top: 15px;
  left: 268px;
  width: 45px;
  overflow: hidden;
}
.frame-icon203,
.frame-icon204 {
  position: absolute;
  top: 13px;
  right: 129px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.frame-icon204 {
  right: 177px;
}
.div2410 {
  position: absolute;
  top: 12px;
  left: 48px;
  font-size: var(--body-text-size);
  color: var(--wwwsaramincokr-black);
  display: inline-block;
  width: 13px;
  height: 26px;
}
.frame-icon205,
.image-icon295 {
  position: absolute;
  overflow: hidden;
}
.frame-icon205 {
  top: 9px;
  left: 228px;
  border-radius: var(--br-base);
  width: 32px;
  height: 32px;
}
.image-icon295 {
  height: 88.89%;
  width: 12.23%;
  top: 11.11%;
  right: 66.36%;
  bottom: 0;
  left: 21.41%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.group6 {
  position: absolute;
  top: 15px;
  left: 1558px;
  width: 327px;
  height: 45px;
  color: var(--wwwsaramincokr-comet);
}
.frame-icon206 {
  position: absolute;
  top: 584px;
  left: 228px;
  width: 10px;
  height: 7px;
  overflow: hidden;
}
.div2412 {
  position: absolute;
  top: 0;
  left: calc(50% - 0.5px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6px;
  height: 17px;
}
.frame1947 {
  position: absolute;
  top: 586px;
  left: 232px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  text-align: center;
  font-size: var(--inder-regular1-size);
  color: var(--wwwsaramincokr-black);
}
.div2413 {
  top: 574px;
  left: 71px;
  letter-spacing: -1px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 97px;
}
.div2413,
.div2414,
.frame-icon207 {
  position: absolute;
  height: 24px;
}
.frame-icon207 {
  top: 574px;
  left: 32px;
  width: 24px;
  overflow: hidden;
}
.div2414 {
  top: 522px;
  left: 72px;
  letter-spacing: -1px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 65px;
}
.frame-icon208,
.frame-icon209,
.frame1948 {
  position: absolute;
  top: 522px;
  left: 32px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.frame-icon209,
.frame1948 {
  top: 480px;
  left: 228px;
  width: 10px;
  height: 7px;
}
.frame1948 {
  top: 482px;
  left: 232px;
  width: 1px;
  height: 1px;
  text-align: center;
  font-size: var(--inder-regular1-size);
  color: var(--wwwsaramincokr-black);
}
.div2416 {
  top: 470px;
  left: 71px;
  letter-spacing: -1px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 66px;
}
.div2416,
.div2417,
.frame-icon210 {
  position: absolute;
  height: 24px;
}
.frame-icon210 {
  top: 470px;
  left: 32px;
  width: 24px;
  overflow: hidden;
}
.div2417 {
  top: 418px;
  left: 71px;
  letter-spacing: -1px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 90px;
}
.frame-icon211,
.frame-icon212,
.frame1949 {
  position: absolute;
  top: 418px;
  left: 32px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.frame-icon212,
.frame1949 {
  top: 376px;
  left: 228px;
  width: 10px;
  height: 7px;
}
.frame1949 {
  top: 378px;
  left: 232px;
  width: 1px;
  height: 1px;
  text-align: center;
  font-size: var(--inder-regular1-size);
  color: var(--wwwsaramincokr-black);
}
.div2419 {
  position: absolute;
  top: 366px;
  left: 72px;
  letter-spacing: -1px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 65px;
  height: 24px;
}
.frame-icon213,
.frame-icon214,
.frame1950 {
  position: absolute;
  top: 366px;
  left: 32px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.frame-icon214,
.frame1950 {
  top: 324px;
  left: 228px;
  width: 10px;
  height: 7px;
}
.frame1950 {
  top: 326px;
  left: 232px;
  width: 1px;
  height: 1px;
  text-align: center;
  font-size: var(--inder-regular1-size);
  color: var(--wwwsaramincokr-black);
}
.div2421 {
  position: absolute;
  top: 314px;
  left: 71px;
  letter-spacing: -1px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 66px;
  height: 24px;
}
.frame-icon215,
.frame-icon216,
.frame1951 {
  position: absolute;
  top: 314px;
  left: 32px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.frame-icon216,
.frame1951 {
  top: 272px;
  left: 228px;
  width: 10px;
  height: 7px;
}
.frame1951 {
  top: 274px;
  left: 232px;
  width: 1px;
  height: 1px;
  text-align: center;
  font-size: var(--inder-regular1-size);
  color: var(--wwwsaramincokr-black);
}
.div2423 {
  top: 262px;
  left: 71px;
  letter-spacing: -1px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 111px;
}
.div2423,
.div2424,
.frame-icon217 {
  position: absolute;
  height: 24px;
}
.frame-icon217 {
  top: 262px;
  left: 32px;
  width: 24px;
  overflow: hidden;
}
.div2424 {
  top: 210px;
  left: 71px;
  letter-spacing: -1px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 102px;
}
.frame-icon218,
.frame-icon219,
.frame1952 {
  position: absolute;
  top: 210px;
  left: 32px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.frame-icon219,
.frame1952 {
  top: 168px;
  left: 228px;
  width: 10px;
  height: 7px;
}
.frame1952 {
  top: 170px;
  left: 232px;
  width: 1px;
  height: 1px;
  text-align: center;
  font-size: var(--inder-regular1-size);
  color: var(--wwwsaramincokr-black);
}
.div2426,
.frame-icon220 {
  position: absolute;
  top: 158px;
  height: 24px;
}
.div2426 {
  left: 71px;
  letter-spacing: -1px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 90px;
}
.frame-icon220 {
  left: 32px;
  width: 24px;
  overflow: hidden;
}
.frame-icon221,
.my1 {
  position: absolute;
  top: 106px;
  height: 24px;
}
.my1 {
  left: 71px;
  letter-spacing: -1px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 41px;
}
.frame-icon221 {
  left: 32px;
  width: 24px;
  overflow: hidden;
}
.frame-icon222 {
  top: 6px;
  left: calc(50% - 8px);
  width: 16px;
  height: 16px;
  overflow: hidden;
}
.frame-icon222,
.frame1954,
.gnb {
  position: absolute;
}
.gnb {
  top: 0;
  left: calc(50% - 0.5px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 17px;
}
.frame1954 {
  top: 6px;
  left: 8px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.frame1953 {
  position: absolute;
  top: 28px;
  right: 23px;
  border-radius: var(--br-base);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 32px;
  height: 32px;
  text-align: center;
  font-size: var(--inder-regular1-size);
  color: var(--wwwsaramincokr-black);
}
.div2411,
.div2427 {
  position: absolute;
  top: 0;
}
.div2411 {
  left: 0;
  background-color: var(--new-fill-d9d9d9);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  border-right: 1px solid var(--color-whitesmoke-700);
  box-sizing: border-box;
  width: 272px;
  height: 1080px;
  font-size: var(--font-size-mini);
  color: var(--wwwsaramincokr-comet);
}
.div2427 {
  left: -57600px;
  font-size: var(--inder-regular1-size);
  color: var(--wwwsaramincokr-tundora);
  display: flex;
  align-items: center;
  width: 40px;
  height: 17px;
}
.match-5 {
  width: 100%;
  position: relative;
  height: 1080px;
  text-align: left;
  font-size: var(--inter-regular-size);
  color: var(--color-gray-400);
  font-family: var(--wwwsaramincokr-inter-bold-752);
}
