.rectangle676,
.rectangle677 {
  position: absolute;
  top: -6px;
  left: 0;
  background-color: var(--color-white);
  width: 1920px;
  height: 1080px;
}
.rectangle677 {
  top: 56px;
  background-color: var(--new-fill-d9d9d9);
  width: 1652px;
  height: 107px;
}
.fax-00-0000-00008,
.o2b2o2b2cokr8 {
  top: 76px;
  font-size: var(--font-size-3xs);
  white-space: pre-wrap;
  text-align: center;
  justify-content: center;
  height: 61px;
}
.fax-00-0000-00008 {
  position: absolute;
  left: calc(50% + 468px);
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 326px;
}
.o2b2o2b2cokr8 {
  left: calc(50% + 70px);
  width: 355px;
}
.api13,
.div2428,
.div2429,
.div2430,
.o2b2o2b2cokr8 {
  position: absolute;
  line-height: 24px;
  display: flex;
  align-items: center;
}
.div2428 {
  top: 76px;
  left: calc(50% - 797px);
  font-size: var(--font-size-3xs);
  text-align: center;
  justify-content: center;
  width: 809px;
  height: 61px;
}
.api13,
.div2429,
.div2430 {
  top: 0;
  height: 38px;
}
.div2429 {
  left: 1338px;
  letter-spacing: -1px;
  width: 67px;
}
.api13,
.div2430 {
  left: 1207px;
  width: 79px;
}
.api13 {
  left: 1038px;
  width: 113px;
}
.div2431 {
  left: 814px;
  width: 169px;
}
.div2431,
.div2432,
.div2433,
.div2434,
.div2435 {
  position: absolute;
  top: 0;
  line-height: 24px;
  display: flex;
  align-items: center;
  height: 38px;
}
.div2432 {
  left: 614px;
  font-weight: 100;
  width: 154px;
}
.div2433,
.div2434,
.div2435 {
  left: 489px;
  width: 79px;
}
.div2434,
.div2435 {
  left: 366px;
}
.div2435 {
  left: 241px;
  width: 81px;
}
.group7 {
  position: absolute;
  top: 911px;
  left: 268px;
  width: 1652px;
  height: 163px;
  font-size: var(--font-size-6xs);
}
.rectangle678 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--wwwsaramincokr-catskill-white1);
  width: 1502px;
  height: 104px;
}
.ul1 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-smi);
}
.txt70 {
  width: 100%;
}
.div2436 {
  position: absolute;
  top: 35px;
  left: 209px;
  display: flex;
  align-items: center;
  width: 242px;
  height: 12px;
}
.p63 {
  margin: 0;
}
.b522 {
  position: absolute;
  top: 33px;
  left: 65px;
  font-size: var(--inder-regular1-size);
}
.ellipse58 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: var(--wwwsaramincokr-catskill-white1);
  border: 2px solid var(--color-gray-400);
  box-sizing: border-box;
  width: 20px;
  height: 20px;
}
.i16 {
  top: 1px;
  left: 8px;
}
.group8,
.group9,
.i16 {
  position: absolute;
}
.group9 {
  top: 31px;
  left: 36px;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: var(--inter-regular-size);
  color: var(--color-gray-400);
}
.group8 {
  top: 807px;
  left: 398px;
  width: 1502px;
  height: 104px;
  font-size: var(--font-size-3xs);
  color: var(--color-lightslategray-100);
}
.rectangle679 {
  position: absolute;
  top: 781px;
  left: calc(50% - 562px);
  background-color: var(--wwwsaramincokr-catskill-white);
  width: 1501px;
  height: 4px;
}
.rectangle680 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  border: 1px solid var(--wwwsaramincokr-black);
  box-sizing: border-box;
  width: 200px;
  height: 40px;
}
.b523 {
  position: absolute;
  top: 12px;
  left: 53px;
}
.b524,
.b525,
.group10 {
  position: absolute;
  color: var(--color-gray-400);
}
.group10 {
  top: 716px;
  left: 1088px;
  width: 200px;
  height: 40px;
}
.b524,
.b525 {
  top: 679px;
  left: 1074px;
}
.b525 {
  top: 643px;
  left: 1098px;
  font-size: var(--font-size-lg);
  color: var(--wwwsaramincokr-tundora);
}
.rectangle681 {
  position: absolute;
  top: 572px;
  left: 1153px;
  background-color: var(--new-fill-d9d9d9);
  width: 72px;
  height: 50px;
}
.rectangle682 {
  position: absolute;
  top: 501px;
  left: calc(50% - 562px);
  background-color: var(--wwwsaramincokr-catskill-white);
  width: 1501px;
  height: 4px;
}
.rectangle683,
.rectangle684,
.rectangle685 {
  position: absolute;
  top: 440px;
  left: 1797px;
  border-radius: var(--br-8xs);
  background-color: var(--new-fill-d9d9d9);
  width: 88px;
  height: 40px;
}
.rectangle684,
.rectangle685 {
  left: 1640px;
  width: 146px;
}
.rectangle685 {
  left: 1508px;
  width: 124px;
}
.b526,
.b527 {
  position: absolute;
  top: 386px;
  left: 825px;
  font-size: var(--body-text-size);
  color: var(--wwwsaramincokr-tundora);
}
.b527 {
  left: 680px;
}
.span44 {
  font-size: var(--font-size-3xs);
}
.span43 {
  color: var(--wwwsaramincokr-black);
}
.b528,
.b529 {
  position: absolute;
  top: 386px;
  left: 509px;
  font-size: var(--body-text-size);
  color: var(--wwwsaramincokr-tundora);
}
.b529 {
  left: 406px;
}
.div2437,
.div2438 {
  position: absolute;
  top: 58px;
  left: calc(50% - 59px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 61px;
  height: 17px;
}
.div2438 {
  top: 57px;
  left: calc(50% + 323px);
  width: 176px;
}
.div2439 {
  top: 56px;
  left: calc(50% + 250px);
  width: 61px;
  height: 17px;
}
.div2439,
.div2440,
.div2441,
.div2442,
.div2443,
.div2444,
.i17 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div2440 {
  top: 56px;
  left: calc(50% + 18px);
  width: 176px;
  height: 19px;
}
.div2441,
.div2442,
.div2443,
.div2444,
.i17 {
  height: 17px;
}
.i17 {
  top: 41px;
  left: calc(50% - 683px);
  font-weight: 900;
  width: 261px;
}
.div2441,
.div2442,
.div2443,
.div2444 {
  top: 34px;
  left: calc(50% + 323px);
  width: 176px;
}
.div2442,
.div2443,
.div2444 {
  left: calc(50% + 250px);
  width: 61px;
}
.div2443,
.div2444 {
  left: calc(50% - 61px);
  width: 63px;
}
.div2444 {
  top: 33px;
  left: calc(50% + 18px);
  width: 176px;
}
.group11,
.vector-icon115 {
  position: absolute;
  width: 1502px;
  height: 103px;
}
.vector-icon115 {
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
}
.group11 {
  top: 219px;
  left: calc(50% - 562px);
  text-align: center;
  font-size: var(--inder-regular1-size);
}
.rectangle686 {
  position: absolute;
  bottom: -40px;
  left: 49px;
  border-radius: var(--br-8xs);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--wwwsaramincokr-black);
  box-sizing: border-box;
  width: 49px;
  height: 40px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.div2445 {
  top: 10px;
  left: 11px;
}
.b530,
.div2445,
.group12 {
  position: absolute;
}
.group12 {
  bottom: 787px;
  left: 1808px;
  width: 49px;
  height: 40px;
  text-align: center;
}
.b530 {
  top: 100px;
  left: 391px;
  font-size: var(--font-size-17xl);
  color: var(--wwwsaramincokr-black);
}
.ellipse59,
.rectangle687 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--new-fill-d9d9d9);
  width: 327px;
  height: 45px;
}
.ellipse59 {
  top: 5px;
  left: 6px;
  border-radius: 50%;
  background-color: var(--color-royalblue-600);
  width: 35px;
  height: 35px;
}
.vector-icon116 {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 15px;
  height: 15px;
}
.frame-icon223 {
  top: 15px;
  left: 268px;
  width: 59px;
  overflow: hidden;
}
.div2446,
.frame-icon223,
.frame1955 {
  position: absolute;
  height: 18px;
}
.div2446 {
  top: 0;
  left: 0;
  letter-spacing: -1px;
  line-height: 18px;
  display: flex;
  align-items: center;
  width: 59px;
}
.frame1955 {
  top: 15px;
  left: 268px;
  width: 45px;
  overflow: hidden;
}
.frame-icon224,
.frame-icon225 {
  position: absolute;
  top: 13px;
  right: 129px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.frame-icon225 {
  right: 177px;
}
.div2447 {
  position: absolute;
  top: 12px;
  left: 48px;
  font-size: var(--body-text-size);
  color: var(--wwwsaramincokr-black);
  display: inline-block;
  width: 13px;
  height: 26px;
}
.frame-icon226,
.image-icon296 {
  position: absolute;
  overflow: hidden;
}
.frame-icon226 {
  top: 9px;
  left: 228px;
  border-radius: var(--br-base);
  width: 32px;
  height: 32px;
}
.image-icon296 {
  height: 88.89%;
  width: 12.23%;
  top: 11.11%;
  right: 66.36%;
  bottom: 0;
  left: 21.41%;
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
.frame-icon227,
.group13 {
  position: absolute;
  top: 9px;
  left: 1558px;
  width: 327px;
  height: 45px;
}
.frame-icon227 {
  top: 584px;
  left: 228px;
  width: 10px;
  height: 7px;
  overflow: hidden;
}
.div2449 {
  position: absolute;
  top: 0;
  left: calc(50% - 0.5px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6px;
  height: 17px;
}
.frame1956 {
  position: absolute;
  top: 586px;
  left: 232px;
  width: 1px;
  height: 1px;
  overflow: hidden;
  text-align: center;
  font-size: var(--inder-regular1-size);
  color: var(--wwwsaramincokr-black);
}
.div2450 {
  top: 574px;
  left: 71px;
  letter-spacing: -1px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 97px;
}
.div2450,
.div2451,
.frame-icon228 {
  position: absolute;
  height: 24px;
}
.frame-icon228 {
  top: 574px;
  left: 32px;
  width: 24px;
  overflow: hidden;
}
.div2451 {
  top: 522px;
  left: 72px;
  letter-spacing: -1px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 65px;
}
.frame-icon229,
.frame-icon230,
.frame1957 {
  position: absolute;
  top: 522px;
  left: 32px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.frame-icon230,
.frame1957 {
  top: 480px;
  left: 228px;
  width: 10px;
  height: 7px;
}
.frame1957 {
  top: 482px;
  left: 232px;
  width: 1px;
  height: 1px;
  text-align: center;
  font-size: var(--inder-regular1-size);
  color: var(--wwwsaramincokr-black);
}
.div2453 {
  top: 470px;
  left: 71px;
  letter-spacing: -1px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 66px;
}
.div2453,
.div2454,
.frame-icon231 {
  position: absolute;
  height: 24px;
}
.frame-icon231 {
  top: 470px;
  left: 32px;
  width: 24px;
  overflow: hidden;
}
.div2454 {
  top: 418px;
  left: 71px;
  letter-spacing: -1px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 90px;
}
.frame-icon232,
.frame-icon233,
.frame1958 {
  position: absolute;
  top: 418px;
  left: 32px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.frame-icon233,
.frame1958 {
  top: 376px;
  left: 228px;
  width: 10px;
  height: 7px;
}
.frame1958 {
  top: 378px;
  left: 232px;
  width: 1px;
  height: 1px;
  text-align: center;
  font-size: var(--inder-regular1-size);
  color: var(--wwwsaramincokr-black);
}
.div2456 {
  position: absolute;
  top: 366px;
  left: 72px;
  letter-spacing: -1px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 65px;
  height: 24px;
}
.frame-icon234,
.frame-icon235,
.frame1959 {
  position: absolute;
  top: 366px;
  left: 32px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.frame-icon235,
.frame1959 {
  top: 324px;
  left: 228px;
  width: 10px;
  height: 7px;
}
.frame1959 {
  top: 326px;
  left: 232px;
  width: 1px;
  height: 1px;
  text-align: center;
  font-size: var(--inder-regular1-size);
  color: var(--wwwsaramincokr-black);
}
.div2458 {
  position: absolute;
  top: 314px;
  left: 71px;
  letter-spacing: -1px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 66px;
  height: 24px;
}
.frame-icon236,
.frame-icon237,
.frame1960 {
  position: absolute;
  top: 314px;
  left: 32px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.frame-icon237,
.frame1960 {
  top: 272px;
  left: 228px;
  width: 10px;
  height: 7px;
}
.frame1960 {
  top: 274px;
  left: 232px;
  width: 1px;
  height: 1px;
  text-align: center;
  font-size: var(--inder-regular1-size);
  color: var(--wwwsaramincokr-black);
}
.div2460 {
  top: 262px;
  left: 71px;
  letter-spacing: -1px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 111px;
}
.div2460,
.div2461,
.frame-icon238 {
  position: absolute;
  height: 24px;
}
.frame-icon238 {
  top: 262px;
  left: 32px;
  width: 24px;
  overflow: hidden;
}
.div2461 {
  top: 210px;
  left: 71px;
  letter-spacing: -1px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 102px;
}
.frame-icon239,
.frame-icon240,
.frame1961 {
  position: absolute;
  top: 210px;
  left: 32px;
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.frame-icon240,
.frame1961 {
  top: 168px;
  left: 228px;
  width: 10px;
  height: 7px;
}
.frame1961 {
  top: 170px;
  left: 232px;
  width: 1px;
  height: 1px;
  text-align: center;
  font-size: var(--inder-regular1-size);
  color: var(--wwwsaramincokr-black);
}
.div2463 {
  top: 158px;
  left: 71px;
  letter-spacing: -1px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 90px;
}
.div2463,
.frame-icon241,
.my2 {
  position: absolute;
  height: 24px;
}
.frame-icon241 {
  top: 158px;
  left: 32px;
  width: 24px;
  overflow: hidden;
}
.my2 {
  top: 106px;
  left: 71px;
  letter-spacing: -1px;
  line-height: 24px;
  display: flex;
  align-items: center;
  width: 41px;
}
.frame-icon242,
.frame-icon243 {
  position: absolute;
  overflow: hidden;
}
.frame-icon242 {
  top: 106px;
  left: 32px;
  width: 24px;
  height: 24px;
}
.frame-icon243 {
  top: 6px;
  left: calc(50% - 8px);
  width: 16px;
  height: 16px;
}
.gnb1 {
  position: absolute;
  top: 0;
  left: calc(50% - 0.5px);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 17px;
}
.frame1963 {
  position: absolute;
  top: 6px;
  left: 8px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.div2448,
.frame1962 {
  position: absolute;
  box-sizing: border-box;
}
.frame1962 {
  top: 28px;
  right: 23px;
  border-radius: var(--br-base);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-white);
  width: 32px;
  height: 32px;
  text-align: center;
  font-size: var(--inder-regular1-size);
  color: var(--wwwsaramincokr-black);
}
.div2448 {
  top: -6px;
  left: -4px;
  background-color: var(--new-fill-d9d9d9);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 4px 4px rgba(0, 0, 0, 0.25);
  border-right: 1px solid var(--color-whitesmoke-700);
  width: 272px;
  height: 1080px;
  font-size: var(--font-size-mini);
}
.match-6 {
  width: 100%;
  position: relative;
  height: 1080px;
  text-align: left;
  font-size: var(--inter-regular-size);
  color: var(--wwwsaramincokr-comet);
  font-family: var(--wwwsaramincokr-inter-bold-752);
}
